<?=$this->render('categoria/banner.phtml')?>

<h1 class="u">
    Produtos
    <?=(@$this->categoria)?'| '.$this->categoria->descricao:''?>
</h1>

<div id="produto">
    <? $row = @$this->produto->fotos[0];
    //$img = URL.'/img/produtos|'.@$row->path.'?w=340&h=340&noadapt';
    $img = IMG_URL.(($row)?'/produtos/'.@$row->path:'/not-found.jpg');
    if($row) { ?>
    <div id="produto-images">
        <div class="produto-foto" <?/*style="background-image:url(<?=$img?>);"*/?>>
            <? $foto = 'not-found.jpg';
            if((bool)@$row->capa) $foto = 'produtos|'.$row->capa->path;
            if(!(bool)@$row->capa && (bool)@$row->fotos) $foto = 'produtos|'.@$row->fotos[0]->path; ?>
            <img src="<?=$img?>" alt="" />
        </div>
        
        <ul id="produto-slideshow">
            <? $i = 0; foreach($this->produto->fotos as $row){ $i++; ?>
            <? $foto = 'not-found.jpg';
            // if((bool)@$row) $foto = 'produtos|'.@$row->path;
            if((bool)@$row) $foto = 'produtos/'.@$row->path;
            // $img = URL.'/img/'.$foto;
            $img = IMG_URL.'/'.$foto; ?>
            <li class="produto <?=($i%3==0) ? '' : ''?>" <?/*style="background-image:url(<?=$img?>?w=94&h=94&noadapt)"*/?>>
                <a href="<?=$img?>?w=340&h=340&noadapt" title="<?=$row->titulo?>" style="background-image: url(<?=$img?>)">
                    <?/*<img src="<?=$img?>?w=94&h=94&noadapt" alt="<?=$row->titulo?>" />*/?>
                </a>
            </li>
            <? } ?>
        </ul>
    </div>
    <? } ?>
    
    <div id="produto-detalhes">
        <h2>
            <span class="bd-top"></span>
            <span class="produto-titulo"><?=$this->produto->titulo?></span>
            <span class="bd-bottom"></span>

            <? if((bool)$this->produto->cod){ ?>
            <span class="produto-cod">
                Cód: <?=$this->produto->cod?>
            </span>
            <? } ?>
        </h2>
        <br clear="all" />

        <div class="detalhes">
            <?=($this->produto->descricao)?>
        </div>

        <? if((bool)$this->produto->descricao_completa){ ?>
        <div class="detalhes mais-detalhes">
            <b class="tit">Detalhes:</b> <br>
            <?=($this->produto->descricao_completa)?>
        </div>
        <? } ?>

        <? if($this->user_vip){ ?>
        <span id="produto-valor">
            <span class="rs">R$</span>
            <? $valor = (bool)$this->produto->valor ? $this->produto->valor : 0; ?>
            <span class="valor"><?=_currency($valor)?></span>
        </span>

        <br clear="all" />
        <? } ?>

        <form action="#" id="frm-solicitar-orcamento">
            <a href="#" id="solicitar-orcamento">
                Faça um orçamento &raquo;
            </a>

            <div id="fields-solicitar-orcamento">
                <input type="text" class="txt mask-int" id="qtde" name="qtde" placeholder="Informe a quantidade" maxlength="4" data-validate="Preencha o campo Quantidade corretamente" />
                <input type="hidden" id="id" name="id" value="<?=$this->produto->id?>" />
                <a href="#" id="submit-solicitar-orcamento">
                    OK
                </a>
            </div>

            <span id="status-solicitar-orcamento">
                <span class="texto">Produto adicionado com sucesso!</span>
                <br><br>
                <a href="<?=URL?>/orcamento">Ir para orçamento &rarr;</a>
            </span>
        </form>
    </div>
</div>

<br clear="all">
<a href="#" class="voltar js-back">&laquo; voltar</a>
<br clear="all">

<?//=(bool)$this->sugestoes ? $this->render('produto/index-relacionados.phtml') : ''?>