<h2 id="produtos-relacionados-title">Produtos relacionados</h2>

<ul id="produtos-relacionados">
    <? /*for($i=1;$i<5;$i++){*/ ?>
    <? $i=0; foreach($this->sugestoes as $row){ $i++; ?>
    <li class="produto <?=($i%3==0) ? '' : ''?>">
        <? $img = URL.'/img/produtos|'.@$row->fotos[0]->path.'?w=165&h=170&noadapt'; ?>
        <a href="<?=URL.'/produto/'.$row->alias?>" title="<?=$row->titulo?>" class="produto-link">
            <!-- <img src="<?=$img?>" alt="<?=$row->titulo?>" class="produto-img" /> -->
            <span class="produto-img" style="background-image:url(<?=$img?>)"></span>

            <span class="produto-titulo">
                <?=$row->titulo?>
            </span>
        </a>
    </li>
    <? } ?>
</li>