<? if(count($this->produtos)){ ?>
<div class="produtos-sugestoes">
    <h2>Sugestões</h2>

    <? foreach($this->produtos as $produto){ ?>
    <? $produto_titulo = $produto->titulo/*.((bool)$produto->cod?" [{$produto->cod}]":'')*/; ?>
    <a class="produto" href="<?=URL.'/produto/'.$produto->alias.'/'?>">
        <span class="produto-img <?=$produto->valor_desconto?'produto-promo':''?>" <?=Img::bg('produtos|'.$produto->fotos[0]->path.'?w=140&h=140')?>>
            <span class="produto-title"><?=$produto_titulo?></span>
        </span>
        <span class="produto-price">
            <?=$this->currency($produto->valor_desconto?$produto->valor_desconto:$produto->valor)?>
        </span>
        <span class="produto-buy">
            Comprar
        </span>
    </a>
    <? } ?>
    <br clear="all" />
</div>
<? } ?>