<form action="<?=URL?>/meu-carrinho/enviar-orcamento" class="frm-enviar-pedido" id="frm-enviar-pedido" method="post">
	<ul class="pedidos" id="pedidos">
		<? $i=0; foreach($this->cart->items as $key => $item){ $i++; ?>
		<? $id = $key;
		$produto_id = $item->item->id;
		$titulo = $item->item->titulo;
		$alias = $item->item->alias;
		$qtde = $item->qtde;
		$img = URL.'/img/produtos|'.@$item->item->fotos[0]->path.'?w=120&h=125'; ?>
		<li class="pedido" id="cart_<?=$id?>">
			<span class="number"><?=$i?>.</span>
			
			<span class="img">
				<img src="<?=$img?>" alt="<?=$titulo?>" /> 
			</span>
			
			<span class="title">
				<span class="text"><?=$titulo?></span>
			</span>

			<input type="text" class="txt2 qtde mask-int" name="qtde[]" id="qtde_<?=$id?>" value="<?=$qtde?>" />
			<input type="hidden" name="id[]" id="id_<?=$id?>" value="<?=$id?>" />
			<input type="hidden" name="produto_id[]" id="produto_id_<?=$id?>" value="<?=$produto_id?>" />
			<input type="hidden" name="titulo[]" id="titulo_<?=$id?>" value="<?=$titulo?>" />
			<input type="hidden" name="alias[]" id="alias_<?=$id?>" value="<?=$alias?>" />

			<a href="#" class="del" data-id="<?=$id?>">
				<span class="icone">x</span>
				<span class="texto">excluir</span>
			</a>
		</li>
		<? } ?>
	</ul>

	<span id="total-pedido">
        <span class="top">total</span>
        <span class="total"><?=$i<10 ? '0'.$i : $i?></span>
        <span class="so">solicitações de orçamento</span>
	</span>

	<textarea name="obs" id="obs" cols="30" rows="10" class="txt2 prevalue" data-prevalue="Observações"></textarea>
	
	<br clear="all" />

	<a href="#" class="submit <?=(!count($this->cart->items)) ? 'disabled' : ''?>">
		<span class="sombra"></span>
		<span class="texto">Enviar pedido &raquo;</span>
	</a>
	
	<a href="<?=URL?>/produtos" class="voltar">
		<span class="sombra"></span>
		<span class="texto">&laquo; Continuar comprando</span>
	</a>

	<span class="status"></span>
</form>