<? if(count($this->cart->items)){ ?>
<div class="top-aguardando">
	<? $count_itens = count($this->cart->items); ?>
	<? $count_itens = $count_itens < 9 ? '0'.$count_itens : $count_itens; ?>
	<span class="n"><?=$count_itens?></span>
	<a href="<?=URL?>/solicite-um-orcamento" class="arrow" title="Encaminhar">Encaminhar</a>
	produto(s) aguardando orçamento
</div>
<? } ?>