<h1 class="u">PRODUTOS | ORÇAMENTO</h1>
<br clear="all">


<div id="orcamento">

<? if(count(@$this->cart->items)){ ?>

<h2 class="titulo-orcamento">
	<span class="qtde">Qtde.</span>
	Produtos para orçamento
</h2>
<?=$this->render('produto/pedido.phtml')?>

<? } else { ?>

<p class="quote">
	<span class="title">Você não inseriu nenhum item para orçamento.</span>
	<br><br>
	Vá até nossa página de <a href="<?=URL?>/produtos" class="red">Produtos</a>, e inclua algum item na lista.
</p>

<? } ?>

</div>