<h1 class="c u page-title <?=$this->controller?>">
    Esqueci minha senha
</h1>

<div class="content-text pagina">
    Uma senha temporária será enviada para o e-mail cadastrado em nossa base de dados.<br/>
    Confira a senha enviada e utilize-a para realizar o próximo login.
        
    <div class="form recovery">    
        <?=$this->form;?>
        
        <div class="cart-continue bt-red-whole">
            <a href="#" id="login-submit">
                <span class="sombra"></span>
                <span class="texto">ENVIAR</span>
            </a>
            
            <a href="<?=URL?>/login" class="pass-forgot bt-red-inside-left">&laquo; Voltar para login</a>
        </div>
    </div>
</div>