<div class="content-text pagina">
	<? if(@(bool)$this->pagina->fotos){ ?>
	<? $foto = $this->pagina->fotos[0]; ?>
	<figure class="img">
		<img src="<?=URL.'/img/paginas|'.$foto->path?>?w=260&h=335" alt="<?=$foto->descricao?>" />
		
		<? if((bool)$foto->descricao){ ?>
		<figcaption><?=$foto->descricao?></figcaption>
		<? } ?>
	</figure>
	<? } ?>

    <?
	$body = stripslashes(nl2br($this->pagina->body));
    
    $replaces = array(
    	'\<a(.*)\<\/a\>' => '<a target="_blank" rel="nofollow" \\1</a>',
    	'style\=\"(.*)\"' => ' '
	);
    foreach($replaces as $p => $r) $body = ereg_replace($p,$r,$body);
    
    echo $body;
    ?>

    <br clear="all" />
    <a href="<?=URL?>/contato" id="entre-em-contato">
    	<span class="sombra"></span>
    	<span class="texto">Entre em contato</span>
    </a>
</div>