<div id="slideshow-wrapper">
<div class="slideshow" id="slideshow">
    <? foreach ($this->fotos as $row) { ?>
    <? $url = (bool)$row->link ? $row->link : '#'; ?>
    <? $target = strstr($url,URL) ? '' : 'target="_blank"'; ?>
    <? $img = URL.'/img/promocoes|'.@$row->fotos[0]->path;//.'?w=450&h=450'; ?>
    <a href="<?=$url?>" class="foto" <?=$target?> title="<?=$row->titulo?>">
        <span class="img-wrapper">
            <?/*<span class="img"><img src="<?=$img?>" alt="<?=$row->titulo?>" /></span>*/?>
            <span class="img" style="background-image:url(<?=$img?>);"></span>
        </span>

        <span class="desc-wrapper">
            <span class="desc">
                <span class="bar"></span>
                <span class="title">
                    <?=$row->titulo?>
                </span>
                <span class="descricao">
                    <?=$row->body?>
                </span>
            </span>
        </span>
    </a>
    <? } ?>
</div>
</div>