<section id="produtos-em-destaque">
	<span class="title">Produtos em destaque</span>
	
	<ul id="produtos-slideshow">
		<? $i = 0; foreach($this->produtos as $row){ $i++; ?>
        <li class="produto <?=($i%3==0) ? '' : ''?>">
            <? $foto = 'not-found.jpg';
            if((bool)@$row->capa) $foto = 'produtos|'.$row->capa->path;
            if(!(bool)@$row->capa && (bool)@$row->fotos) $foto = 'produtos|'.$row->fotos[0]->path; ?>
            <? $img = URL.'/img/'.$foto.'?w=165&h=170&noadapt'; ?>
            <a href="<?=URL.'/produto/'.$row->alias?>" title="<?=$row->titulo?>" class="produto-link">
                <!-- <img src="<?=$img?>" alt="<?=$row->titulo?>" class="produto-img" /> -->
                <span class="produto-img" style="background-image:url(<?=$img?>)"></span>

                <span class="produto-titulo">
                    <?=$row->titulo?>
                </span>
            </a>
        </li>
        <? } ?>
	</ul>
</section>