<section id="categorias">
	<h1 class="c">MODELOS DE CRISTAIS</h1>
	
	<ul id="categorias-list">
        <? $foto64 = Img::base64(FULL_IMG_PATH.'/not-found.jpg'); ?>
		<? $i = 0; foreach($this->menu->categorias as $row){ $i++; ?>
        <li class="categoria <?=($i%3==0) ? '' : ''?>">
            <? $foto = 'not-found.jpg';
            $foto2= $foto64;
            $img2= $foto2;
            if((bool)@$row->foto){
                $foto = 'categorias|'.$row->foto;
                
                $foto2= 'categorias/'.$row->foto;
                $img1= FULL_IMG_PATH.'/'.$foto2;
                $img2= Img::base64($img1);
            }
            $img = URL.'/img/'.$foto.'?w=165&h=170&noadapt'; ?>
            <a href="<?=$row->uri?>" title="<?=$row->titulo?>" class="cat-link">
                <img src="<?=$img2?>" alt="<?=$row->titulo?>" class="cat-img" />
                <!-- <span class="cat-img" style="background-image:url(<?=$img2?>)"></span> -->

                <p class="cat-desc">
                    <span class="cat-titulo"><?=$row->label?></span>
                    <?=$row->descricao?>
                    <span class="cat-mais">Descubra mais &raquo;</span>
                </p>
            </a>
        </li>
        <? } ?>
	</ul>
</section>