<section id="chamadas">
    <ul id="noticias-slideshow">
        <? $i = 0; foreach($this->noticias as $row){ $i++;
        $foto = null; $img = null;
        if((bool)@$row->capa) $foto = 'noticias|'.$row->capa->path;
        if(!(bool)@$row->capa && (bool)$row->fotos) $foto = 'noticias|'.$row->fotos[0]->path;

        $url = ((bool)trim($row->link)) ? 
                $row->link : 
                '#';
                // URL.'/noticias/'.$row->alias;

        if((bool)$foto){
        $img = URL.'/img/'.$foto;//.'?w=360&h=190';
        } ?>
        <li class="noticia <?=($i%3==0) ? '' : ''?>" <?=($img) ? 'style="background-image:url('.$img.');"' : ''?>>
            <a href="<?=$url?>" title="<?=$row->titulo?>" class="noticia-link">
                <?/*<img src="<?=$img?>" alt="<?=$row->titulo?>" />*/?>

                <h1 class="noticia-titulo c">
                    <?=$row->titulo?> 
                </h1>

                <div class="noticia-desc">
                    <?=$row->body?>
                </div>

                <span class="mais">Saiba mais &raquo;</span>
            </a>
        </li>
        <? } ?>
    </ul>
</section>