<h2 class="page-title marcador">
    Sugestões de imóveis
</h2>

<br clear="all" />

<div id="imoveis-changes">
	<form action="#" id="frm-change-region">
		<span>Estas ofertas correspondem a região da Grande São Paulo. Deseja ver imóveis de outra região?</span>

		<label for="change_region">
			<?=$this->formSelect('change_region',null,array('class'=>'txt-bdbt'),array(
				'0' => 'Grande São Paulo',
				'1' => 'São Paulo - Capital',
				'2' => 'São Paulo - Interior',
				'3' => 'Outras regiões',
			))?>
			<span>- Região Atual</span>
		</label>
	</form>

	<form action="#" id="frm-change-order">
		<span>Ordenação:</span>
		<label for="change_order">
			<?=$this->formSelect('change_order',null,array('class'=>'txt-bdbt'),array(
				'0' => 'Mais recentes',
				'1' => 'Mais vistos',
				'2' => 'Maior valor',
				'3' => 'Menor valor',
			))?>
		</label>
	</form>
</div>

<section id="imoveis">
	<div id="outros-imoveis" class="box-outros">
		<a href="<?=URL?>/imoveis" class="title box-icon box-ofertas">
            <span class="icon"></span>
            <span class="txt">Outras ofertas</span>
        </a>

		<? $i=0; foreach(array_slice($this->rows,0,3) as $row){ ?>
        <div class="outro-imovel outro">
            <a href="<?=URL.'/imoveis/'.$row->alias?>" class="title"><?=$row->titulo?></a>
            <span class="description"><?=Is_Str::crop(strip_tags($row->body),150)?></span>
            <a href="<?=URL.'/imoveis/'.$row->alias?>" class="mais-info">+ informações</a>
        </div>
        <? $i++; } ?>

        <a href="<?=URL?>/imoveis" class="ver-mais bt-shadow">Ver mais</a>

        <a href="<?=URL?>/cadastre-seu-imovel" class="title box-icon box-cadastre-imovel box-double">
            <span class="icon"></span>
            <span class="txt">
            	<small>Saiba como</small> Cadastrar seu imóvel
            </span>
        </a>

        <a href="#" class="title box-icon box-newsletter box-double">
            <span class="icon"></span>
            <span class="txt">
            	<small>Receba nossa</small> Newsletter
            </span>
        </a>
	</div>

	<? foreach($this->rows as $row){ ?>
	<div class="imovel">
		<? $foto = 'not-found.jpg';
		if((bool)$row->capa) $foto = 'portfolio|'.$row->capa->path;
		if(!(bool)$row->capa && (bool)$row->fotos) $foto = 'portfolio|'.$row->fotos[0]->path; ?>
		<a href="<?=URL.'/imoveis/'.$row->id?>" title="<?=$row->titulo?>">
			<img src="<?=URL.'/img/'.$foto?>?w=220&h=232" alt="<?=$row->titulo?>" />
		</a>

		<a class="detalhes" href="<?=URL.'/imoveis/'.$row->id?>">
			<span class="tit">
				SANTANA
			</span>
			
			<span class="end">
				Ag. Jardim Japão, 257
			</span>
			
			<span class="det">
				Apto | 250m, 3 dorms (3 suítes)
			</span>
		</a>
	</div>
	<? } ?>

	<br clear="all" />
	<?=$this->paginacao->render();?>
</section>