<?=(count($this->fotos) ? $this->render('index/index-banner.phtml') : '')?>

<?//=(count($this->produtos) ? $this->render('index/index-produtos.phtml') : '')?>
<?=$this->render('index/index-categorias.phtml')?>

<?/*<div id="box-facebook">
    <!-- Box Facebook -->
    <? if((bool)trim($this->dados_empresa->facebook) && trim($this->dados_empresa->facebook)!='#'){ ?>
    <div class="fb-like-box" data-href="<?=$this->dados_empresa->facebook?>" data-width="360" data-height="410" data-show-faces="true" data-header="true" data-stream="true" data-show-border="true"></div>
    <? } ?>
</div>*/?>

<?=$this->divfull('chamadas')->open()?>
<?=(count($this->noticias) ? $this->render('index/index-noticias.phtml') : '')?>
<?=$this->divfull('chamadas')->close()?>