<? if($this->noticias){ ?>
<? foreach($this->noticias as $noticia){ ?>
<div class="news">
	<? $cropTextAt = 1000; ?>
	<? $fotos = $noticia->fotos; ?>
	<? if((bool)$fotos){ $cropTextAt = 500; ?>
	<a href="<?=URL.'/'.$this->controller.'/'.$noticia->alias?>">
		<img src="<?=URL.'/img/noticias|'.$fotos[0]->path?>?w=331&h=217" alt="<?=$noticia->titulo?>" class="cover" alt="<?=$noticia->titulo?>" title="<?=$noticia->titulo?>" />
	</a>
	<? } ?>

	<h2><a href="<?=URL.'/'.$this->controller.'/'.$noticia->alias?>"><?=$noticia->titulo?></a></h2>
	
	<? $dt = Is_Date::am2br(reset(explode(' ',((bool)$noticia->data ? $noticia->data : $noticia->data_cad)))); ?>
	<span class="data">:: <?=$dt.((bool)$noticia->autor ? ' por '.$noticia->autor : '')?></span>
	
	<span class="descricao" style="">
		<?
		// replace audio bbcode
		$p = '\[audio\](.*)\[\/audio]';
		$r = '<iframe width="410" height="136" scrolling="no" frameborder="no" src="http://w.soundcloud.com/player/?auto_play=false&show_artwork=false&url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F\1"></iframe>';
		$html2 = ereg_replace($p,$r,stripslashes($noticia->body));
	
		// replace video bbcode
		$p = '\[video\](.*)\[\/video]';
		$r = '<iframe width="410" height="300" scrolling="no" frameborder="no" src="http://www.youtube.com/embed/\1"></iframe>';
		$html2 = ereg_replace($p,$r,$html2);
		?>
		<a href="<?=URL.'/'.$this->controller.'/'.$noticia->alias?>">
		<?=Is_Str::crop(Php_Html::toText($html2,false,true),$cropTextAt)?>
		</a>

		<a class="more" href="<?=URL.'/'.$this->controller.'/'.$noticia->alias?>">Leia mais</a>
	</span>
</div>
<? } ?>

<?=$this->paginacao->render();?>
<? } else if(!$this->noticia){ echo '<i>Nenhuma notícia postada até o momento.</i>';} ?>

<? if($this->noticia){ ?>
<div class="news noticia">
	<h1 class="noticia-title"><?=$this->noticia->titulo?></h1>

	<? $dt = Is_Date::am2br(reset(explode(' ',(bool)$this->noticia->data ? $this->noticia->data : $this->noticia->data_cad))); ?>
	<span class="data">:: <?=$dt.((bool)$this->noticia->autor ? ' por '.$this->noticia->autor : '')?></span>

	<? /*$p = '(\<img.*)(\")'; $r = '\\1?w=440&h=300\\2'; ?>
    <div class="descricao"><?=eregi_replace($p,$r,stripslashes($this->noticia->body))?></div>
    */ ?>
    <? Lib::import('phpQuery');
    $html = phpQuery::newDocumentHTML('<div class="descricao">'.stripslashes($this->noticia->body).'</div>');

	$imgs = $html->find('img'); // redimensionando as imagens
	foreach($imgs as $img){
		pq($img)->attr('data-src',pq($img)->attr('src'));
		pq($img)->attr('src',pq($img)->attr('src').'?w=690&h=500');
	}
	
	//$ps = $html->find('p'); // retirando estilos extras dos parágrafos
	//foreach($ps as $p) pq($p)->attr('class','')->attr('align','')->attr('style','');
	$tfrs = array('p','a','i','u','li','b','div'); // retirando estilos extras dos parágrafos
	foreach($tfrs as $tfr){
		$ps = $html->find($tfr);
		
		if($tfr == 'div'){
			foreach($ps as $p){
				pq($p)->attr('class','')->attr('align','')->attr('style','');
			}
		} else {
			foreach($ps as $p) pq($p)->attr('class','')->attr('align','')->attr('style','');
		}
	}
	
	// replace audio bbcode
	$p = '\[audio\](.*)\[\/audio]';
	$r = '<iframe width="410" height="136" scrolling="no" frameborder="no" src="http://w.soundcloud.com/player/?auto_play=false&show_artwork=false&url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F\\1"></iframe>';
	$html2 = ereg_replace($p,$r,$html->html());

	// replace video bbcode
	$p = '\[video\](.*)\[\/video]';
	$r = '<iframe width="410" height="300" scrolling="no" frameborder="no" src="http://www.youtube.com/embed/\\1"></iframe>';
	$html2 = ereg_replace($p,$r,$html2);

	echo $html2; ?>

	<div class="compartilhe">
		<!-- <span class="compartilhar" id="compartilhar" name="compartilhar">Compartilhar</span> -->
		
		<? $url = URL.'/'.$this->controller.'/'.$this->noticia->alias; ?>
        <? $bitly = APPLICATION_ENV=='production' ? $this->bitly->short($url) : $url; ?>
		<!-- <?=$url?> -->

		<div class="facebook">
            <!-- <iframe src="//www.facebook.com/plugins/like.php?href=<?=urlencode($url)?>&amp;send=false&amp;layout=button_count&amp;width=450&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:21px;" allowTransparency="true"></iframe> -->
            <!-- <div class="fb-like" data-href="<?=$url?>" data-send="false" data-width="450" data-show-faces="false" data-layout="button_count"></div> -->
            <a target="_blank" href="http://www.facebook.com/sharer/sharer.php?u=<?=$url?>&display=popup" title="Compartilhar no Facebook" id="share-facebook">Compartilhar no Facebook</a>
        </div>

        <div class="twitter">
            <!-- <a href="https://twitter.com/share" class="twitter-share-button" data-url="<?=$bitly?>" data-text="<?=$bitly.' '.$this->noticia->titulo?>" data-lang="pt">Tweetar</a> -->
			<!--<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>-->
			<a target="_blank" href="http://twitter.com/intent/tweet?text=<?=urlencode($this->noticia->titulo)?>&url=<?=$bitly?>" title="Tweetar" id="share-twitter">Tweetar</a>
        </div>

        <div class="email">
        	<!-- <a href="mailto:?subject=<?=$this->noticia->titulo?> - Millagro&body=<?=urlencode(URL.'/news/'.$this->noticia->alias).'%0A%0A'.str_replace("\n","",Is_Str::crop(Php_Html::toText($this->noticia->body,false,true),400))?>" title="Enviar por e-mail">Enviar por e-mail</a> -->
        	<a href="#enviar-por-email" title="Enviar por e-mail" id="share-mail">Enviar por e-mail</a>
        </div>
	</div>
</div>

<div class="voltar">
	<a href="#" class="js-back">Voltar</a>
</div>

<div id="fb-wrapper">
	<div id="enviar-por-email">
		<span class="title">Enviar por e-mail:</span>

		<? $mail_url = URL.'/index/enviar-por-email.json'.
					   '?news='.$this->noticia->id.
					   '&url='.urlencode(FULL_URL); ?>
		<form action="<?=$mail_url?>" method="post" id="frm-share-mail">
			<ul>
				<li>
					<label for="mail_from_name">* De:</label>
					<input type="text" required class="txt prevalue required" data-prevalue="Seu nome" name="from_name" id="mail_from_name" />
					<input type="mail" required class="txt prevalue required" data-prevalue="Seu e-mail" name="from_mail" id="mail_from_mail" />
				</li>
				<li>
					<label for="mail_to">* Para:</label>
					<input type="mail" required class="txt prevalue required" data-prevalue="E-mail" name="to" id="mail_to" />
				</li>
				<li>
					<label for="mail_body">Mensagem:</label>
					<textarea class="txt prevalue" data-prevalue="Escreva uma mensagem" name="body" id="mail_body" maxlength="255"></textarea>
				</li>
				<li class="li-submit">
					<input type="submit" class="submit" value="Enviar" />
					<span class="status"></span>
				</li>
			</ul>
		</form>
	</div>
</div>

<? } ?>