<div id="form-new">
    <form action="<?=$this->form->getAction();?>" method="<?=$this->form->getMethod();?>" id="<?=$this->form->getId();?>" class="<?=$this->form->getId();?>">
        <ul>
            <? foreach($this->form->getElements() as $elm){ ?>
            <? if($elm->getId() == "telefone"){ continue; } ?>
            <? if($elm->getId() == "celular"){ continue; } ?>
            <? if($elm->getId() == "senha"){ ?>
            <!--</ul><fieldset><h3><span class="legend"><?=$this->id?'ALTERAR ':''?>SENHA DE ACESSO</span></h3><ul>-->
            <? } ?>
            <li class="<?=$elm->getAttrib("class")?>">
                <? if($elm->getId() != "submit"){ ?>
                <label for="<?=$elm->getId()?>"><?=$elm->getLabel()?></label>
                <? } ?>
                
                <?=$elm->render()?>

                <?=($elm->getId() == "dddtel") ? $this->form->getElement('telefone')->render() : ''; ?>
                <?=($elm->getId() == "dddcel") ? $this->form->getElement('celular')->render() : ''; ?>
                
                <? if($elm->getId() == "valor"){ ?>
                <!--<br clear="all" />-->
                <? } ?>
            </li>
            <? if($elm->getId() == "senha-c"){ ?>
            </ul></fieldset>
            <? } ?>
            <? } ?>
        </ul>
        <div class="bt-container">
            <input type="submit" class="bt" value="Salvar" id="submit" />
        </div>
    </form>
</div>