.main .content{
    padding-right:10px;
}

.main .title.left{
    text-align: left;
    text-indent: 10px;
}

.main .title .right{
    float:right;
    margin-right:10px;
}
.main .title .right select{
    /*width:250px;*/
    padding:1px;
    width: 500px;
}
.main .title .right .sair{
    color:#fff;
    background:#0181C2;
    border:1px solid #fff;
    padding:3px 5px;
    text-decoration:none;
    margin-left:10px;
    font-size:12px;
}
.main .title .right .sair:hover{
    background:#0081C3;
}

.main .menu_left{
    float:left;
    width:190px;
    /*background:#000;*/
}

.main .menu_left a{
    display:block;
    background:#41B382;
    color:#fff;
    padding:8px 10px;
    font-size:12px;
    text-decoration:none;
    border-bottom:2px solid #90E4C0;
    font-weight:bold;
}

.main .menu_left a:hover{
    background:#5fd5a2;
}

.content .content-white{
    background:#fff;
    padding: 10px 10px 10px 20px;
    font-size:13px;
    min-height: 300px;
}

.content-white .message.message{
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    -o-border-radius:3px;
    -khtml-border-radius:3px;
    background: none repeat scroll 0 0 #eee;
    border: 1px solid #ccc;
    color: #666;
    font-size: 12px;
    padding: 10px;
    margin-bottom:20px;
}

.content-white .message.error{
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    -o-border-radius:3px;
    -khtml-border-radius:3px;
    background: none repeat scroll 0 0 #FEEFB4;
    border: 1px solid #986200;
    color: #986200;
    font-size: 12px;
    padding: 10px;
    margin-bottom:20px;
}