<? $imgBanner = null;//IMG_URL.'/not-found.jpg';
if((bool)trim($this->pagina->fotos_fixas->foto1))
    $imgBanner = IMG_URL.'/paginas/'.$this->pagina->fotos_fixas->foto1;
if($this->categoria){
    if ((bool)trim(@$this->categoria->foto2_path)) 
        $imgBanner = IMG_URL.'/categorias/'.$this->categoria->foto2_path;
}
$styleBgImg = $imgBanner ? 'style="background-image: url('.$imgBanner.')" ' : ''; ?>
<div id="banner-categorias">
    <ul id="categorias-list">
        <? $i = 0; foreach($this->menu->categorias as $row){ $i++; ?>
        <? $active = ''; ?>
        <? if($this->categoria) { 
            if($this->categoria->alias==$row->alias) 
                $active = 'active';
        } ?>
        <li class="categoria categoria-<?=$i?> <?=($i%3==0) ? '' : ''?>">
            <a href="<?=$row->uri?>" title="<?=$row->titulo?>" class="cat-link <?=$active?>">
                <?=$row->label?>
            </a>
        </li>
        <? } ?>
        <li class="categoria categoria-0">
            <a href="<?=URL?>/produtos" title="Todos os modelos" class="cat-link <?=($this->categoria) ? '' : 'active' ?>">
                Todos os modelos
            </a>
        </li>
    </ul>
    <div id="banner-categorias-img" <?=$styleBgImg?>></div>
</div>