<? $produtos = $this->categoria ? $this->categoria->produtos : $this->produtos; ?>
<?=$this->render('categoria/banner.phtml')?>

<? /*if($this->categoria){*/ ?>
<h1 class="u <?=$this->controller=='busca' ? 'busca' : ''?> <?=$this->categoria ? $this->categoria->alias : ''?> <?=$this->categoria_parent ? $this->categoria_parent->alias : ''?>">
    <?//=$this->formSelect('produto_ordem',$this->order,array('class'=>'txt'),Application_Model_Db_Produtos::getOrdemCombo(null,true,$this->user_vip))?>

    <? switch($this->controller){ case 'busca': ?>
    Busca | <?=stripslashes($this->busca)?>
    <? break; case 'novidades': ?>
    Novidades
    <? break; case 'novidades-vip': ?>
    Novidades Exclusivas [Cliente VIP]
    <? break; case 'presentes': ?>
    Presentes | 
    <? break; default: ?>
    Produtos
    <?=(@$this->categoria)?'| '.$this->categoria->descricao:''?>
    <? } ?>
</h1>
<? /*}*/ ?>

<div id="produtos-container">

<? $vazio = '';
if(in_array($this->controller,array('busca','novidades','presentes')) && @count($this->produtos) == 0) $vazio = 'vazio';
if(in_array($this->controller,array('produtos','categorias','categoria')) && $this->categoria && @count($this->categoria->produtos) == 0) $vazio = 'vazio';
if(in_array($this->controller,array('produtos','categorias','categoria')) && !$this->categoria && @count($this->produtos) == 0) $vazio = 'vazio';
?>

<section id="produtos" class="<?=$vazio?>">

<? if(count($produtos)){ $i = 0; foreach($produtos as $produto){ $i++;
$produto_titulo = $produto->titulo;
$last = '';
if($i%4==0) $last.= ' last-desktop';
if($i%3==0) $last.= ' last-mobile-tab';
if($i%2==0) $last.= ' last-mobile-cel';
$foto = 'not-found.jpg';
// if((bool)@$produto->fotos) $foto = 'produtos|'.$produto->fotos[0]->path;
if((bool)@$produto->fotos) $foto = 'produtos/'.$produto->fotos[0]->path;
// $foto = URL.'/img/'.$foto.'?w=227&h=245&noadapt';
$foto = IMG_URL.'/'.$foto;
$categoria_id = ($this->categoria) ? $this->categoria->id :
    (count($produto->categorias) ? $produto->categorias[0]->categoria_id : '0');
?>

<a href="<?=URL.'/produto/'.$produto->alias?>" class="produto <?=$last?> cat-<?=$categoria_id?>">
    <?/*<img src="<?=$foto?>" alt="<?=$produto->titulo?>" class="produto-img" />*/?>
    <span class="produto-img" style="background-image:url(<?=$foto?>);"></span>

    <span class="produto-titulo">
        <?=$produto->titulo?>
    </span>

    <span class="ver">
        Faça um orçamento &raquo;
    </span>
</a>

<? if($i%4==0){ ?><br clear="all" class="desktop" /><? } ?>
<? if($i%3==0){ ?><br clear="all" class="mobile-tab" /><? } ?>
<? if($i%2==0){ ?><br clear="all" class="mobile-cel" /><? } ?>

<? } // produtos, foreach ?>
<? } else { // if produtos.count ?>

<? if($this->controller == 'busca'){ ?>
<div class="produto no-search">
    <div class="cart-empty">
        <span class="sua-busca">Sua busca por "<b><?=stripslashes($this->busca)?></b>" não retornou nenhum resultado.</span>

        <b>DICAS:</b> <br>
        - Tente palavras menos específicas. <br>
        - Tente palavras-chave diferentes. <br>
        - Digite no mínimo 4 caracteres.
    </div>
</div>
<? } else { ?>
<div class="">
    Nenhum produto encontrado.
</div>
<? } ?>

<? } // if produtos ?>

</section> <!-- #produtos -->

</div> <!-- #produtos-container -->
<?=$this->paginacao->render()?>
