<? $produtos = $this->categoria ? $this->categoria->produtos : $this->produtos; ?>

<? /*if($this->categoria){*/ ?>
<h2 class="page-title <?=$this->controller=='busca' ? 'busca' : ''?> <?=$this->categoria ? $this->categoria->alias : ''?> <?=$this->categoria_parent ? $this->categoria_parent->alias : ''?>">
    <?=$this->formSelect('produto_ordem',$this->order,array('class'=>'txt'),Application_Model_Db_Produtos::getOrdemCombo(null,true,$this->user_vip))?>

    <span>
        <? switch($this->controller){ case 'busca': ?>
        Busca _ <?=stripslashes($this->busca)?>
        <? break; case 'novidades': ?>
        Novidades
        <? break; case 'novidades-vip': ?>
        Novidades Exclusivas [Cliente VIP]
        <? break; case 'presentes': ?>
        Presentes _ 
        <? break; case 'produtos': case 'categoria': ?>
        <?=$this->categoria->descricao?>
        <? break; default: ?>
        Produtos
        <? } ?>
    </span>
</h2>
<? /*}*/ ?>

<div id="produtos-container">

<? $vazio = '';
if(in_array($this->controller,array('busca','novidades','presentes')) && @count($this->produtos) == 0) $vazio = 'vazio';
if(in_array($this->controller,array('produtos','categorias','categoria')) && $this->categoria && @count($this->categoria->produtos) == 0) $vazio = 'vazio';
if(in_array($this->controller,array('produtos','categorias','categoria')) && !$this->categoria && @count($this->produtos) == 0) $vazio = 'vazio';
?>

<section id="produtos" class="<?=$vazio?>">
<? if($this->categoria){ ?>
<? if(count($this->categoria->produtos)){ $i = 0; foreach($this->categoria->produtos as $produto){ 
    $i++;
    $link = URL.'/produto/'.$produto->alias;//.$this->categoria->alias.'/';//.$produto->id.'/';
    $produto_titulo = $produto->titulo;
    $last = $i % ($this->hide_content_left ? 4 : 3) == 0;
    $categoria_id = $this->categoria->id;
    $foto = 'not-found.jpg';
    if((bool)@$produto->fotos) $foto = 'produtos|'.$produto->fotos[0]->path;
    $foto = URL.'/img/'.$foto.'?w=227&h=245&noadapt'; ?>

    <a href="<?=URL.'/produto/'.$produto->alias?>" class="produto <?=$last?'last':''?> cat-<?=$categoria_id?>">
        <?/*<img src="<?=$foto?>" alt="<?=$produto->titulo?>" class="produto-img" />*/?>
        <span class="produto-img" style="background-image:url(<?=$foto?>);"></span>

        <span class="produto-titulo">
            <?=$produto->titulo?>
        </span>

        <span class="ver">
            Ver
        </span>
    </a>
    <? if($last){ ?><br clear="all" /><? } ?>
<? }} else { ?>
    <div class="produto no-product">
        <div class="cart-empty">
            Nenhum produto na categoria "<?=$this->categoria->descricao?>".
        </div>
    </div>
<? } ?>
<? } else { ?>

<? if(count($this->produtos)){ $i = 0; foreach($this->produtos as $produto){ $i++;
$produto_titulo = $produto->titulo.((bool)$produto->cod?" [{$produto->cod}]":'');
$last = $i % ($this->hide_content_left ? 4 : 3) == 0;
$foto = 'not-found.jpg';
if((bool)@$produto->fotos) $foto = 'produtos|'.$produto->fotos[0]->path;
$foto = URL.'/img/'.$foto.'?w=227&h=245&noadapt';
$categoria_id = count($produto->categorias) ? $produto->categorias[0]->categoria_id : '0'; ?>

<a href="<?=URL.'/produto/'.$produto->alias?>" class="produto <?=$last?'last':''?> cat-<?=$categoria_id?>">
    <?/*<img src="<?=$foto?>" alt="<?=$produto->titulo?>" class="produto-img" />*/?>
    <span class="produto-img" style="background-image:url(<?=$foto?>);"></span>

    <span class="produto-titulo">
        <?=$produto->titulo?>
    </span>

    <span class="ver">
        Ver
    </span>
</a>

<? if($last){ ?><br clear="all" /><? } ?>

<? } // produtos, foreach ?>
<? } else { // id produto ?>

<? if($this->controller == 'busca'){ ?>
<div class="produto no-search">
    <div class="cart-empty">
        <span class="sua-busca">Sua busca por "<b><?=stripslashes($this->busca)?></b>" não retornou nenhum resultado.</span>

        <b>DICAS:</b> <br>
        - Tente palavras menos específicas. <br>
        - Tente palavras-chave diferentes. <br>
        - Digite no mínimo 4 caracteres.
    </div>
</div>
<? } else { ?>
<div class="">
    Nenhum produto encontrado.
</div>
<? } ?>

<? } // id produto ?>

<? } ?>
</section> <!-- #produtos -->

</div> <!-- #produtos-container -->
<?=$this->paginacao->render()?>

<? if($this->controller=='busca' && @count($this->produtos) == 0){
    if((bool)@$this->destaques){
        echo $this->partial('index/index-produtos.phtml',array(
            'produtos' => $this->destaques
        ));
    }
} ?>