</article></div></div>
<div class="main main-<?=$this->controller?> main-full main-full-index-<?=$this->main_full_section?>">
<div id="content-container">
<article id="content">
<div class="main-full-container main-full-container-<?=$this->main_full_section?>">