<?=$this->pedidos_status?Js::script('var pedidos_status = '.json_encode($this->pedidos_status).';'):""?>

<div id="pedidos">
    <?=$this->render($this->section."/search-pedidos.phtml");?>
</div>

<div class="<?-$this->section?> search-result">
    <? if($this->rows){ ?>
    <table>
        <thead>
            <tr>
                <td width="50">Pedido</td>
                <td>Cliente</td>
                <td width="80">CPF</td>
                <td width="30" align="center">Itens</td>
                <!--<td width="60">Forma Ent.</td>-->
                <td width="100" align="center">Total</td>
                <td width="100" align="center">Efetuado em</td>
                <td width="50" align="center">Status</td>
                <td width="50" align="center">Detalhes</td>
                <td width="30" align="center">Excluir</td>
            </tr>
        </thead>
        <tbody>
            <? foreach($this->rows as $row){ ?>
            <? $data_cad = explode(" ",$row->data_cad); $data_cad = Is_Date::am2br($data_cad[0]); ?>
            <tr>
                <td>
                    <?=str_pad($row->id,6,'0',STR_PAD_LEFT)?>
                </td>
                <td>
                    <?=$row->cliente->nome?>
                    <?=$row->cliente->vip ? '(Cliente VIP)' : ''?>
                </td>
                <td>
                    <?=Is_Cpf::format($row->cliente->cpf)?>
                </td>
                <td align="center">
                    <?=$row->count?>
                </td>
                <!--<td>
                    <?=$row->forma->descricao?>
                </td>--> 
                <td align="center">
                    <?=$this->currency($row->total)?>
                </td>
                <td align="center">
                    <?=$data_cad?>
                </td>
                <td align="center" id="row_status_<?=$row->id?>">
                    <?=$row->status->descricao?>
                </td>
                <td align="center">
                    <a href="#" data-id="<?=$row->id?>" class="ver">Mostrar</a>
                </td>
                <td align="center">
                    <a href="<?=URL?>/admin/<?=$this->section?>/pedidos-del/id/<?=$row->id?>/" class="del" title="Excluir">X</a>
                </td>
            </tr>
            <tr class="detalhes" id="detalhe_<?=$row->id?>">
                <td colspan="10">
                    <div class="table-detalhes-container">
                        <b>Mensagem:</b> <?=$row->obs?> <br /><br />
                        <table class="table-detalhes" id="table_detalhes_<?=$row->id?>">
                            <thead>
                                <tr>
                                    <td width="40">Id.</td>
                                    <td>Produto</td>
                                    <td width="70" align="center">Valor</td>
                                    <td width="40" align="center">Qtde.</td>
                                    <td width="70" align="center">Total</td>
                                </tr>
                            </thead>
                            <tbody>
                                <? foreach($row->items as $item){ ?>
                                <tr>
                                    <td><?=$item->item->id?></td>
                                    <td>
                                        <? $titulo = $item->item->descricao.
                                            ((bool)$item->item->cod ? ' ['.$item->item->cod.']' : '').
                                            ((bool)$item->cor?' - '.$item->cor->descricao:''); ?>
                                        <?/*=$titulo*/?>
                                        <a href="<?=URL.'/admin/produtos/edit/'.$item->item->id?>" target="_blank">
                                            <?=$titulo?>
                                        </a>
                                    </td>
                                    <? $valor = (bool)$item->item->valor ? $item->item->valor : 0; ?>
                                    <?/*<td width="60" align="center"><?=_currency($valor)?></td>*/?>
                                    <td width="60" align="center">
                                        <input type="text" class="txt txt3 mask-currency item_valor" id="item_valor_<?=$row->id?>_<?=$item->item->id?>" value="<?=_currency($valor)?>" data-pedido-id="<?=$row->id?>" data-produto-id="<?=$item->item->id?>" />
                                    </td>
                                    <td width="30" align="center" class="item_qtde" id="item_qtde_<?=$row->id?>_<?=$item->item->id?>">
                                        <?=$item->count?>
                                    </td>
                                    <td width="60" align="center" class="item_total" id="item_total_<?=$row->id?>_<?=$item->item->id?>">
                                        <?=_currency($valor*$item->count)?>
                                    </td>
                                </tr>
                                <? } ?>
                            </tbody>
                            <? if(count($row->taxas)){ ?>
                            <thead>
                                <tr>
                                    <td colspan="5">Taxas</td>
                                </tr>
                            </thead>
                            <tbody>
                                <? foreach($row->taxas as $item){ ?>
                                <tr>
                                    <td><?=$item->id?></td>
                                    <td><?=$item->descricao?></td>
                                    <td width="60" align="center"><?=$this->currency($item->valor)?></td>
                                    <td width="30" align="center">1</td>
                                    <td width="60" align="center"><?=$this->currency($item->valor)?></td>
                                </tr>
                                <? } ?>
                            </tbody>
                            <? } ?>
                        </table>
                    </div>
                    <div class="detalhes-total">
                        <span>Total do pedido</span>
                        <span class="total" id="total_<?=$row->id?>"><?=_currency($row->total)?></span>
                    </div>
                    <div class="detalhes-status">
                        <form action="">
                            <?=$this->formSelect('status_'.$row->id,$row->orcamento_status_id,array('class'=>'txt'),$this->pedidos_status)?>
                            <br /><br />

                            <div class="rastreio-container <?=((bool)$row->rastreio) ? '' : 'hidden'?>" id="rastreio-container_<?=$row->id?>">
                                <input type="text" class="txt <?=((bool)$row->rastreio) ? '' : 'prevalue'?> rastreio" id="rastreio_<?=$row->id?>" <?=((bool)$row->rastreio) ? '' : 'name="rastreio_'.$row->id.'"'?> data-prevalue="Código de rastreio..." value="<?=((bool)$row->rastreio) ? $row->rastreio : ''?>" />
                                <br />
                                <input type="checkbox" class="chk_rastreio_mail" id="chk_rastreio_mail_<?=$row->id?>" name="chk_rastreio_mail_<?=$row->id?>" />
                                <label for="chk_rastreio_mail_<?=$row->id?>" class="lbcrm">Enviar cód. para cliente</label>
                            </div>

                            <?/*<div class="rastreio-container " id="extras-container_<?=$row->id?>">
                                <input type="checkbox" class="chk_rastreio_mail" id="chk_envia_mail_<?=$row->id?>" name="chk_envia_mail_<?=$row->id?>" />
                                <label for="chk_envia_mail_<?=$row->id?>" class="lbcrm">Enviar e-mail de aviso</label>
                            </div>*/?>

                            <!--<a href="#" class="ocultar" data-id="<?=$row->id?>">Ocultar</a>-->
                            <span class="status" id="status_text_<?=$row->id?>"></span>
                            <input type="submit" class="bt salvar" data-id="<?=$row->id?>" value="Salvar" />
                        </form>
                    </div>
                    <br clear="all"/>
                </td>
            </tr>
            <? } ?>
        </tbody>
    </table>
    <? } else { ?>
    Nenhum registro.
    <? } ?>
</div>

<br clear="all" />
<?=$this->paginacao->render()?>