<div class="search-bar">
    <!--<form action="" method="post" class="order-form">
        <?=$this->formSelect('search-order',@$_POST['search-order'],array('class'=>'txt'),array(
            "data_cad"=>"Data",
            "pedido_status_id"=>"Status"
        ))?>
        <input type="submit" class="bt" value="Filtrar" />
    </form>-->
    
    <form action="" method="get" class="search-form">
        <label for="search-by" class="search-label">Buscar por:</label>
        <?=$this->formSelect('search-by',@$_POST['search-by'],array('class'=>'txt'),array(
            "pedido_id"=>"Número do pedido",
            "cliente_nome"=>"Nome do cliente",
            "cliente_cpf"=>"CPF do cliente",
            "orcamento_status_id"=>"Status",
        ))?>
        <?=@$_POST['search-by']=='orcamento_status_id'?
            $this->formSelect('search-txt',@$_POST['search-txt'],array('class'=>'txt'),$this->pedidos_status):
            $this->formText('search-txt',@$_POST['search-txt'],array('class'=>'txt'))?>
        <input type="submit" class="bt" value="Enviar" />
    </form>
</div>