<div class="page-text">
    <div class="box box-login">
        <h1 class="c u">Já sou cadastrado</h1>
        
        <form action="" method="post" id="frm-login">
            <ul>
                <li>
                    <label for="login">E-mail:</label>
                    <input type="text" class="txt2" name="login" id="login" placeholder="E-mail" data-validate="true" data-errmsg="Login inválido" />
                </li>
                <li>
                    <label for="senha">Senha:</label>
                    <input type="password" class="txt2" name="senha" id="senha" placeholder="Senha" data-validate="true" data-errmsg="Senha inválida" />
                </li>
            </ul>
            
            <a href="#" id="login-submit">
                <span class="sombra"></span>
                <span class="texto">Entrar</span>
            </a>
        
            <a href="<?=URL?>/esqueci-minha-senha" class="pass-forgot bt-red-inside-left">
                Esqueceu a senha?
            </a>
        </form>
    </div>

    <div class="box box-cadastro">
        <h1 class="c u">Sou um novo cliente</h1>
        
        <form action="<?=URL?>/cadastro" method="post" id="frm-novo-cliente">
            <ul>
                <li>
                    <label for="email_novo">E-mail:</label>
                    <input type="text" class="txt2" name="email_novo" id="email_novo" placeholder="E-mail" data-validate="true" data-errmsg="E-mail inválido" />
                </li>
            </ul>
        
            <a href="#" id="login-continue">
                <span class="sombra"></span>
                <span class="texto">Continuar</span>
            </a>
        </form>
    </div>
</div>