<?
$js_path  = SCRIPT_MIN == 'load' ? JS_PATH.'/'  : ''; // define js_path conforme configurações de SCRIPT_MIN
$css_path = SCRIPT_MIN == 'load' ? CSS_PATH.'/' : ''; // define css_path conforme configurações de SCRIPT_MIN
$script_min = SCRIPT_MIN;
$js  = array($js_path.'libs.js',$js_path.'layout.js');
$css = array($css_path.'admin/global.less',$css_path.'admin/'.$this->controller.'.less');

if($this->isLogged){ // adiciona js/css padrões usados após login
    $js = array_merge($js,array(
        $js_path.'admin/Messenger.js',
        $js_path.'admin/admin.js',
        $js_path.'admin/'.$this->controller.'.js', // adiciona js com base na página atual
    ));
    $css = array_merge($css,array(
        $css_path.'admin/logged.css',
        //$css_path.'admin/'.$this->modulo.'-logged.css',
        $css_path.'admin/search.less'
    ));
}

switch($this->controller){ // adiciona js/css usados na página atual
    case 'esqueci-minha-senha':
        $css = array_merge($css,array(
            $css_path.'admin/login.less',
        ));
        break;
    case 'categorias':
    case 'cuidados':
    case 'cores':
    case 'categorias-blog':
        $js = array_merge($js,array(
            $js_path.'jquery.ui.min.js',
            $js_path."admin/jquery.fileupload.js",
            $js_path."admin/jquery.fileupload-ui.js",
            $js_path.'jquery.tmpl.min.js',
            $js_path."jquery.fancybox-1.3.4.pack.js",
            $js_path.'jwysiwyg/jquery.wysiwyg.js',
            //$js_path."admin/fotos.js"
            
        ));
        $css = array_merge($css,array(
            $css_path.'admin/jquery.fileupload-ui.css',
            $css_path.'fancybox/jquery.fancybox-1.3.4.css',
            $css_path.'jwysiwyg/jquery.wysiwyg.css',
            //$css_path.'admin/fotos.less',
        ));
        break;
    case 'locais-de-entrega':
        $js = array_merge($js,array(
            $js_path.'jquery.ui.min.js',
            $js_path.'jquery.tmpl.min.js'
        ));
        break;
    case 'usuarios':
    case 'clientes':
    case 'acompanhamento':
        $js = array_merge($js,array(
            $js_path.'jquery.tmpl.min.js',
            $js_path.'jwysiwyg/jquery.wysiwyg.js',
            $js_path."jquery.ui.min.js",
            $js_path."admin/jquery.fileupload.js",
            $js_path."admin/jquery.fileupload-ui.js",
            $js_path."admin/fotos.js",
            $js_path."admin/search.js",
            $js_path."jquery.fancybox-1.3.4.pack.js",
            $js_path."Gallery.js",
            $js_path.'admin/usuarios-new.js',
        ));
        $css = array_merge($css,array(
            $css_path.'jwysiwyg/jquery.wysiwyg.css',
            $css_path.'admin/jquery.fileupload-ui.css',
            $css_path.'admin/fotos.less',
            $css_path.'fancybox/jquery.fancybox-1.3.4.css',
        ));
        break;
    case 'home':
    case 'produtos':
    case 'noticias':
    case 'promocoes':
    case 'destaques':
    case 'usuarios':
        $js = array_merge($js,array(
            $js_path.'jquery.tmpl.min.js',
            $js_path.'jwysiwyg/jquery.wysiwyg.js',
            $js_path."jquery.ui.min.js",
            $js_path."admin/jquery.fileupload.js",
            $js_path."admin/jquery.fileupload-ui.js",
            $js_path."admin/fotos.js",
            $js_path."admin/search.js",
            $js_path."jquery.fancybox-1.3.4.pack.js",
            $js_path."Gallery.js"
        ));
        $css = array_merge($css,array(
            $css_path.'jwysiwyg/jquery.wysiwyg.css',
            $css_path.'admin/jquery.fileupload-ui.css',
            $css_path.'admin/fotos.less',
            $css_path.'fancybox/jquery.fancybox-1.3.4.css',
        ));
        break;
}
?>
<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title><?=!empty($this->titulo)?strip_tags($this->titulo)." - ":""?>Administração - <?=SITE_TITLE?></title>
<script type="text/javascript">
// variáveis globais
var GLOBAL_URL = "<?=$this->url?>",
    URL        = "<?=URL?>",
    FULL_URL   = "<?=FULL_URL?>",
    ROOT_PATH  = "<?=ROOT_PATH?>",
    JS_PATH    = "<?=JS_PATH?>",
    CSS_PATH   = "<?=CSS_PATH?>",
    IMG_PATH   = "<?=IMG_PATH?>",
    FILE_PATH  = "<?=FILE_PATH?>",
    DIR        = "<?=$this->section?>",
    MODULO     = "<?=$this->modulo?>",
    MODULE     = "<?=$this->module?>",
    CONTROLLER = "<?=$this->controller?>",
    ACTION     = "<?=$this->action?>",
    IS_BUSCA   = <?=(isset($_GET['search-by'])||isset($_GET['search-txt']))?'true':'false'?>,
    IS_AJAX    = <?=$this->ajax?'true':'false'?>,
    IS_IFRAME  = <?=$this->iframe?'true':'false'?>,
    SCRIPT     = <?=Js::exists($js_path.$this->controller) ? "\"$this->controller\"" : 'false'?>,
    ENV_DEV = <?=ENV_DEV ? 'true' : 'false'?>,
    ENV_PRO = <?=ENV_PRO ? 'true' : 'false'?>,
    ENV_TEST= <?=ENV_TEST? 'true' : 'false'?>,
    APP_ENV = "<?=APP_ENV?>",
    APPLICATION_ENV = "<?=APPLICATION_ENV?>";
</script>
<?=Css::$script_min($css).PHP_EOL.Js::$script_min($js)?> <!-- adiciona css's e js's -->
</head>
<body>

<? if($this->isLogged){ ?> <!-- topo -->
<div class="top">
    <h1><a href="<?=URL?>/admin/"><?=SITE_TITLE?></a></h1>
</div>
<? } ?>

<div class="main <?=$this->isLogged?"logged":""?>">
    <?=$this->isLogged ? $this->render('admin-menu.phtml') : "";?> <!-- menu -->
    
    <div class="content <?=$this->isLogged?"logged":""?>"> <!-- conteúdo -->
        <? if($this->isLogged){ ?>
        <?=$this->render("admin-flash-messages.phtml");?> <!-- mensagens de aviso -->
        <h2><?=!empty($this->titulo)?$this->titulo:"PAINEL"?></h2> <!-- título -->
        <div class="container">
        <? } ?>
        
        <?=$this->layout()->content;?> <!-- página atual -->
        
        <? if($this->isLogged){ ?>
        </div>
        <? } ?>
    </div>
    
    <br clear="all" />
</div>

<div class="foot"> <!-- rodapé -->
    <?=SITE_TITLE?> &copy; <?=date("Y")?> &bull; Todos os direitos reservados &bull; Criação de sites: Trupe
</div>

</body>
</html>