<? if(count($this->flash_messages)){ ?>
<? if($this->flash_messages[0]->type == 'alert'){
    $m = "";
    foreach($this->flash_messages as $fm){
        $m.= $fm->message."\\n";
    }
    //echo Js::alert($m);
    echo Js::script('$(document).ready(function(){ alert("'.$m.'"); });');
} else { ?>
<div id="flash-messages" class="<?=$this->controller."-".$this->action;?> <?=$this->flash_messages[0]->type;?>">
    <ul>
        <? foreach($this->flash_messages as $flash_message){ ?>
        <li class="<?=$flash_message->type?>"><?=$flash_message->message?></li>
        <? } ?>
    </ul>
</div>
<? }} ?>