<?
$js_path  = SCRIPT_MIN == 'load' ? JS_PATH.'/'  : '';
$css_path = SCRIPT_MIN == 'load' ? CSS_PATH.'/' : '';
$script_min = SCRIPT_MIN;
$js  = array($js_path.'libs.js',$js_path.'layout.js');
$css = array($css_path.'global.less');

if(!$this->meta_description) $this->meta_description = SITE_DESCRIPTION;
if(!$this->meta_keywords) $this->meta_keywords = SITE_KEYWORDS;

$page_title = '';
if(isset($this->titulo)){
    $page_title.= $this->titulo." - ";
    $page_title.= SITE_TITLE;
} else { 
    $page_title.= $this->controller != 'index'?ucfirst(Is_Str::subsCaracteres($this->controller," "))." - ":''; 
    $page_title.= SITE_TITLE;
}
?>

<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="description" content="<?=$this->meta_description?>" />
<meta name="keywords" content="<?=$this->meta_keywords?>" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" href="./favicon.ico" type="image/x-icon" />
<meta itemprop="image" content="./favicon.ico" />

<meta property="og:url" content="<?=$this->meta_og_url?$this->meta_og_url:URL?>"/>
<meta property="og:title" content="<?=$this->meta_og_title?$this->meta_og_title:'MILLAGRO'?>"/>
<meta property="og:description" content="<?=$this->meta_og_description?$this->meta_og_description:SITE_TITLE?>"/>
<meta property="og:image" content="<?=$this->meta_og_image?$this->meta_og_image:URL.CSS_PATH.'/img/logotipo-share.png'?>"/>
<link rel="image_src" href="<?=$this->meta_og_image?$this->meta_og_image:URL.CSS_PATH.'/img/logotipo-share.png'?>" />

<title><?=$page_title?></title>
<script type="text/javascript">
var GLOBAL_URL = "<?=$this->url?>",
    URL        = "<?=URL?>",
    ROOT_PATH  = "<?=ROOT_PATH?>",
    JS_PATH    = "<?=JS_PATH?>",
    CSS_PATH   = "<?=CSS_PATH?>",
    IMG_PATH   = "<?=IMG_PATH?>",
    FILE_PATH  = "<?=FILE_PATH?>",
    DIR        = "<?=$this->section?>",
    CONTROLLER = "<?=$this->controller?>",
    ACTION     = "<?=$this->action?>",
    SCRIPT     = <?=Js::exists($js_path.$this->controller) ? "\"{$this->controller}\"" : 'false'?>,
    USER       = <?=$this->isLogged?json_encode($this->login->user):'undefined'?>,
    APPLICATION_ENV = "<?=APPLICATION_ENV?>";
</script>
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
<?=Css::$script_min($css)?>
<!--[if lt IE 9]>
<?=Css::$script_min($css_path.'global-ie.css')?>
<?=Js::$script_min($js_path.'html5.js')?>
<![endif]-->
</head>

<body class="body-<?=$this->controller?> body-<?=$this->controller.'-'.$this->action?> <?=$this->ajax?'ajax':''?>">

<? if(in_array($this->controller,array('index'))){ ?>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/pt_BR/all.js#xfbml=1&appId=170195076377385";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<? } ?>

<?=$this->render("flash-messages.phtml");?>

<div class="main main-<?=$this->controller?> main-<?=$this->controller.'-'.$this->action?> <?=$this->ajax?'ajax':''?> <?=strstr($this->controller,'blog-')?'main-blog':''?>">    
    <header id="top">
        <?/*<div id="barra-top">
            <ul class="menu-social">
                <li class="twitter">
                    <a target="_blank" href="<?=$this->dados_empresa->twitter?>" title="Twitter">twitter</a>
                </li>
                <li class="facebook">
                    <a target="_blank" href="<?=$this->dados_empresa->facebook?>" title="Facebook">facebook</a>
                </li>
                <li class="phone">
                    <?=$this->dados_empresa->tel1?>
                </li>
            </ul>

            <div class="menu-user">
                <? if((bool)$this->login->user){ ?>
                <span class="b">Bem-vindo, <span class="username"><?=reset(explode(' ',$this->login->user->nome))?></span>!</span>
                [ <a href="<?=URL?>/meu-cadastro" class="menu-user-conta">Minha conta</a> /
                <a href="<?=URL?>/login/logout" class="menu-user-sair">Sair</a> ]
                <? } else { ?>
                <a href="<?=URL?>/login" class="menu-user-login">Login</a> /
                <a href="<?=URL?>/cadastro" class="menu-user-cadastrese">Cadastre-se</a>
                <? } ?>
            </div>

            <form action="<?=URL?>/login?top" id="frm-login-top" method="post">
                <input type="text" id="login_email" name="login_email" class="txt" placeholder="e-mail" />
                <input type="password" id="login_senha" name="login_senha" class="txt" placeholder="senha" />
                <input type="submit" class="submit" id="submit-frm-login-top" value="OK" title="Enviar dados" />
            </form>
        </div>

        <div id="busca-top">
            <form action="<?=URL?>/busca" id="frm-busca-top">
                <input type="text" class="txt" placeholder="pesquisar..." name="busca" id="busca" value="<?=((bool)$this->busca)?stripslashes($this->busca):''?>" />
                <input type="submit" class="submit" value="Enviar" title="Enviar" />
            </form>

            <a href="<?=URL?>/orcamento" id="enviar-pedido-top" class="carrinho">
                <span class="sombra"></span>
                <span class="texto">
                    <span class="enviar">Enviar pedido</span>
                    <span class="total n" id="cart-counter">
                        <? $cart_count = count($this->cart->items); ?>
                        <?=($cart_count < 10) ? '0'.$cart_count : $cart_count?>
                    </span>
                    <span class="so">solicitações de orçamento</span>
                </span>
            </a>
        </div>*/?>

        <a id="site-title" href="<?=URL?>" title="<?=SITE_TITLE?>"><?=SITE_TITLE?></a>
        
        <a href="#" id="mobile-menu" class="mobile-menu" title="MENU">
            <span id="menu-lines"></span>
            <span id="menu-text">Menu</span>
        </a>
        <nav id="menu-top" class="show1">
            <?=$this->navigation()->menu($this->menu->top);?>
            
            <? if((bool)$this->login->user){ ?>
            <ul class="navigation nav-orcamento">
                <li>
                    <a href="<?=URL?>/meu-cadastro" class="menu-user-conta">Minha conta</a>
                </li>
            </ul>
            <? /*} else { ?>
            <ul class="navigation nav-orcamento">
                <li>
                    <a href="<?=URL?>/login" class="menu-user-login">Login</a> /
                    <a href="<?=URL?>/cadastro" class="menu-user-cadastrese">Cadastre-se</a>
                </li>
            </ul>*/?>
            <? } ?>

            <? $cart_count = count($this->cart->items); ?>
            <? if($cart_count){ ?>
            <ul class="navigation nav-orcamento">
                <li>
                    <a href="<?=URL?>/orcamento" class="menu-orcamento">
                        <span class="enviar">Enviar pedido:</span> <br>
                        <span class="total n" id="cart-counter">
                            <?=($cart_count < 10) ? '0'.$cart_count : $cart_count?>
                        </span>
                        <span class="so">orçamento<?=($cart_count>1)?'s':''?></span>
                    </a>
                </li>
            </ul>
            <? } ?>
            
            <? if((bool)$this->login->user){ ?>
            <ul class="navigation nav-orcamento">
                <li>
                    <a href="<?=URL?>/login/logout" class="menu-user-sair">Sair</a>
                </li>
            </ul>
            <? } ?>
        </nav>

        <? if($this->user_vip && 0){ ?>
        <a href="<?=URL?>/novidades-vip" id="top-novidades-vip" class="bg-novidades-vip <?=$this->controller=='novidades-vip' ? 'active' : ''?>">
            <span class="icone"></span>
            <span class="texto">Novidades exclusivas!</span>
            
            <span class="seta-wrapper">
                <span class="seta-bg"></span>
                <span class="seta"></span>
                <span class="confira">Confira!</span>
            </span>
        </a>
        <? } ?>
    </header>

    <div id="content-container">
        <? if(0){ //!$this->hide_content_left){ ?>
        <aside id="content-left">
            <nav id="menu-categorias">
                <?=(bool)$this->menu->categoriasv ? $this->navigation()->menu($this->menu->categoriasv)->setUlClass('menu-categorias-vip') : ''?>
                <?=$this->navigation()->menu($this->menu->categorias)->setUlClass('menu-categorias');?>
            </nav>

            <div id="redes-sociais">
                <div class="acompanhe">
                    Acompanhe as novidades da Cincin nas redes sociais!

                    <a href="<?=$this->dados_empresa->twitter?>" class="twitter" title="Twitter">
                        <span class="logo">Twitter</span>
                    </a>
                    <a href="<?=$this->dados_empresa->facebook?>" class="facebook" title="Facebook">
                        <span class="logo">Facebook</span>
                    </a>
                </div>
                <div class="sombra"></div>
            </div>
        </aside>
        <? } ?>

        <article id="content">
            <?=$this->layout()->content;?>
        </article>
    </div>
</div> <!-- /.main -->

<div class="footer footer-<?=$this->controller?> footer-<?=$this->controller.'-'.$this->action?> <?=$this->ajax?'ajax':''?>">
    <footer>
        <nav id="menu-footer1">
            <?=$this->navigation()->menu($this->menu->footer1);?>
        </nav>
        <nav id="menu-footer2">
            <?=$this->navigation()->menu($this->menu->footer2);?>
        </nav>

        <nav class="adr">
            <ul class="vcard tels">
                <li class="tel"><?=$this->dados_empresa->tel1?></li>
                <? if((bool)trim($this->dados_empresa->tel2)){ ?>
                <li class="tel"><?=$this->dados_empresa->tel2?></li>
                <? } ?>
                <? if((bool)trim($this->dados_empresa->email)){ ?>
                <li class="email">
                    <a href="mailto:<?=$this->dados_empresa->email?>"><?=$this->dados_empresa->email?></a>
                </li>
                <? } ?>
            </ul>
            <ul class="vcard address">
                <li class="street-address"><?=$this->dados_empresa->endereco?></li>
                <li class="street-address">
                    <?=$this->dados_empresa->bairro?> - 
                    <?=$this->dados_empresa->cidade?>, 
                    <?=$this->dados_empresa->estado?> -
                    <?=Is_Format::cep($this->dados_empresa->cep)?>
                </li>
            </ul>
        </nav>

        <div class="credits">
            &reg; <?=date('Y')?> <?=SITE_TITLE?> -
            Todos os direitos reservados <span class="t">-</span> <br>
            <a href="http://www.trupe.net" target="_blank">
                Criação de sites:
            </a>
            <a href="http://www.trupe.net" target="_blank">
                Trupe Agência Criativa
            </a>
        </div>
    </footer>
</div>

<?=Js::$script_min($js)?>

<? if(APPLICATION_ENV=='production' && defined('SITE_ANALYTICS')){ ?>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', <?=SITE_ANALYTICS?>]);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<? } ?>

</body>
</html>