<?/*=(bool)$this->cores?Js::script('var CORES = '.json_encode($this->cores).';'):""*/?>

<? if($this->id){ ?>
<div class="content-right">
    <div id="fotos">
        <?=$this->render('produtos/fotos.phtml');?>
    </div>
    <?/*<div id="tamanhos">
        <?=$this->render($this->section.'/tamanhos.phtml');?>
    </div>
    <div id="voltagens">
        <?=$this->render($this->section.'/voltagens.phtml');?>
    </div>
    <div id="cores">
        <?=$this->render($this->section.'/cores.phtml');?>
    </div>
    <div id="sugestoes">
        <?=$this->render('produtos/sugestoes.phtml');?>
    </div>*/?>
</div>
<? } ?>

<? $produto = $this->getHelper('produtos'); $produto->setInfo($this->info); ?>

<div id="form-new">
    <form action="<?=$this->form->getAction();?>" method="<?=$this->form->getMethod();?>" id="<?=$this->form->getId();?>" class="<?=$this->form->getId();?>">
        <ul>
            <? foreach($this->form->getElements() as $elm){ ?>
            <li class="<?=$elm->getAttrib("class")?>" id="li_<?=$elm->getId()?>">
                <? if($elm->getId() != "submit"){ ?>
                <label for="<?=$elm->getId()?>"><?=$elm->getLabel()?></label>
                <? } ?>
                
                <? if($elm->getId() == "categoria_id"){ ?>
                
                <? if((bool)$this->categoria_id){ ?>
                <? $i=-1; foreach($this->categoria_id as $cat_id){ $i++; ?>
                <span class="cat_field <?=($i==0)?'':'dup'?>" id="cat_field<?=($i==0)?'':'_'.$i?>">
                    <?=$elm->setValue($cat_id)->render();?>
                    <a href="#" class="add_cat" title="Adicionar outra categoria">+</a>
                    <a href="#" class="del_cat" title="Remover esta categoria">x</a>
                </span>
                <? } // foreach ?>
                <? } else { ?>
                <span class="cat_field" id="cat_field">
                    <?=$elm->render();?>
                    <a href="#" class="add_cat" title="Adicionar outra categoria">+</a>
                    <a href="#" class="del_cat" title="Remover esta categoria">x</a>
                </span>
                <? } // combo multiplo ?>

                <? } else { // categoria_id ?>
                <?=$elm->render();?>
                <? } ?>
                
                <? if($elm->getId() == "peso"){ ?>
                <span class="kg">Kg</span>
                <? } ?>
                
                <? if($elm->getId() == "medida_c"){ ?>
                <span class="md">m</span>
                <? } ?>
            </li>
            <? if($elm->getId() == "senha-c"){ ?>
            </ul></fieldset>
            <? } ?>
            <? } ?>
        </ul>
        <div class="bt-container">
            <input type="submit" class="bt" value="Salvar" id="submit" />
        </div>
    </form>
</div>