<div class="page-text bd-bottom">
    <?/*=$this->render('meu-cadastro/meus-dados.phtml')*/?>
    <?=$this->render('meu-cadastro/meus-pedidos.phtml')?>

    <div id="dados">
        <h2>Meu cadastro</h2>
        <span class="nome"><?=$this->cliente->nome?></span> <br><br>

        <?=$this->cliente->email?> <br>
        (<?=$this->cliente->dddtel?>) <?=$this->cliente->telefone?> <br>
        <? if((bool)trim($this->cliente->celular)){ ?>
        (<?=$this->cliente->dddcel?>) <?=$this->cliente->celular?> <br>
        <? } ?>
        <br>
        
        <?=$this->cliente->logradouro?>, <?=$this->cliente->numero?> <br>
        <? if((bool)trim($this->cliente->complemento)){ ?><?=$this->cliente->complemento?> <br><? } ?>
        <?=Is_Format::cep($this->cliente->cep)?> - <?=$this->cliente->bairro?> <br><br>

        <a href="<?=URL?>/meu-cadastro/editar" class="update">
            <span class="sombra"></span>
            <span class="texto">Alterar dados &raquo;</span>
        </a>
    </div>
</div>