<div class="tabs-container" id="meus-dados"> 
    <form action="<?=$this->form_meus_dados->getAction();?>" method="<?=$this->form_meus_dados->getMethod();?>">
        <ul>
            <? foreach($this->form_meus_dados->getElements() as $elm){ ?>
            <? if($elm->getId() == "telefone"){ continue; } ?>
            <? if($elm->getId() == "celular"){ continue; } ?>
            <? if($elm->getId() == "senha2"){ ?>
            </ul><fieldset><span class="legend"><?=$this->modulo=='meu-cadastro'?'ALTERAR ':''?>SENHA DE ACESSO</span><ul>
            <? } ?>
            <li class="li-<?=$elm->getAttrib("class")?>" id="li-<?=$elm->getId()?>">
                <? if($elm->getId() != "submit"){ ?>
                <label for="<?=$elm->getId()?>"><?=$elm->getLabel()?></label>
                <? } ?>
                
                <?=$elm->render()?>

                <?=($elm->getId() == "dddtel") ? $this->form_meus_dados->getElement('telefone')->render() : ''; ?>
                <?=($elm->getId() == "dddcel") ? $this->form_meus_dados->getElement('celular')->render() : ''; ?>
            </li>
            <? if($elm->getId() == "senha-c"){ ?>
            </ul></fieldset>
            <? } ?>
            <? } ?>
        </ul>
    </form>
    <div class="bt-red-whole">
        <a href="#" id="submit-cadastro" class="submit">
            <span class="sombra"></span>
            <span class="texto"><?=$this->controller=='meu-cadastro'?'salvar':'enviar'?></span>
        </a>
    </div>
</div> 