<div class="tabs-container" id="meus-pedidos">
    <h2>Últimos pedidos</h2>
    <? if((bool)$this->pedidos){ ?>
    <table id="pedidos">
        <thead>
            <tr>
                <td width="100">Nº Pedido</td>
                <td width="100">Data</td>
                <td>Situação</td>
                <td width="20">&nbsp;</td>
            </tr>
        </thead>

        <tbody>
            <? /*for($i=1;$i<6;$i++){*/ ?>
            <? foreach($this->pedidos as $row){ ?>
            <? $data_pedido = Is_Date::am2br($row->data_cad); ?>
            <? $data_edit = Is_Date::am2br($row->data_edit); ?>
            <? $status = $this->status[$row->orcamento_status_id]; ?>
            <tr>
                <td><?=Application_Model_Pedidos::geraNumPedido($row->id)?></td>
                <td><?=$data_pedido?></td>
                <td><?=$status?></td>
                <td>
                    <a href="<?=URL?>/meu-cadastro/pedido/<?=$row->id?>" class="ver-pedido" title="Ver pedido">
                        Ver pedido
                    </a>
                </td>
            </tr>
            <? } ?>
        </tbody>
    </table>
    <? } else { ?>
    <h3>Você não possui nenhum pedido.</h3>
    <? } ?>

    <?/* if($this->pedidos){ foreach($this->pedidos as $row){ ?>
    <? $data_pedido = new Zend_Date($row->data_cad); ?>
    <? $data_pago = strlen($row->data_pago) == 0 ? false : new Zend_Date($row->data_pago); ?>
    <? $data_ent =  strlen($row->data_entrega) == 0 ? false : new Zend_Date($row->data_entrega); ?>
    <? $show_status = false; ?>
    <div class="order-item">
        <div class="order-item-status">
            <!--Pedido nº <b class="big"><?=str_pad($row->id,6,'0',STR_PAD_LEFT)?></b> <br /><br />-->
            Pedido realizado em: <b class="big"><?=$data_pedido->toString(Zend_Date::DATE_SHORT)?></b> <br /><br />
            
            <? if(in_array($row->status->id,array(1,2,3,8,9,10))){ ?>
            Status do pagamento: <b>
            <?=$data_pago ?
                'PAGO em '.$data_pago->toString(Zend_Date::DATE_SHORT) :
                mb_strtoupper($row->status->descricao)?>
            </b><br /><br />
            <? } ?>
            
            <? if(in_array($row->status->id,array(8,9,10))){ ?>
            Status da entrega: <b>
            <?=$data_ent ?
                'ENTREGUE em '.$data_ent->toString(Zend_Date::DATE_SHORT) :
                mb_strtoupper($row->status->descricao)?>
            </b><br /><br />
            <? } ?>
            
            <? if(!in_array($row->status->id,array(1,2,3,8,9,10))){ ?>
            Status do pedido: <b>
            <?=mb_strtoupper($row->status->descricao)?>
            </b><br /><br />
            <? } ?>
        </div>
        
        <div class="order-item-items">
            <b class="big">DETALHES DO PEDIDO</b>
            
            <table>
                <thead>
                    <tr>
                        <td>Nome do produto</td>
                        <td class="qt">Qtde.</td>
                    </tr>
                </thead>
                <tbody>
                    <? $total = 0; foreach($row->items as $item){ ?>
                    <tr>
                        <td>
                            <?=$item->item->descricao.($item->cor?' - '.$item->cor->descricao:'')?>
                        </td>
                        <td class="qt"><?=$item->count?></td>
                    </tr>
                    <? $total+= $item->item->valor*$item->count; } ?>
                    
                    <? foreach($row->taxas as $taxa){ ?>
                    <tr>
                        <td><?=$taxa->descricao?></td>
                        <td class="qt">&nbsp;</td>
                    </tr>
                    <? $total+= $taxa->valor; } ?>
                </tbody>
            </table>
            
            Valor total do pedido: <?=_currency(($total<0?0:$total));?>
        </div>
        <br clear="all" />
    </div>
    <? }} else { ?>
    <h3>Você não possui nenhum pedido.</h3>
    <? } */?>
    
    <!--<br clear="all" />-->
    <div class="paginacao">
    <? $this->paginacao->get_page(); if($this->paginacao->_total_pages > 1){
        $t = $this->paginacao->_total_pages;
        $p = $this->paginacao->get_page();
        
        if($p != $t){
            echo '<a href="'.$this->paginacao->_build_uri($p+1).'" class="navigation left">PEDIDOS ANTERIORES &rarr;</a>';
        }
        
        if($p != 1){
            echo '<a href="'.$this->paginacao->_build_uri($p-1).'" class="navigation right">&larr; PEDIDOS MAIS RECENTES</a>';
        }
    } ?>
    </div>
</div>