<h1 class="c u page-title">
    Detalhes do pedido
</h1>
<br>

<div class="page-text">
	<div id="pedido-status">
		<div class="textos">
			<div class="numero">
				Número do pedido: <br>
				<span class="n"><?=Application_Model_Pedidos::geraNumPedido($this->pedido->id)?></span>
			</div>
			
			<? $data_edit = (bool)trim($this->pedido->data_edit) ? $this->pedido->data_edit : $this->pedido->data_cad; ?>
			<? $data_edit = Is_Date::am2br($data_edit); ?>
			<? $status = end(explode(' ',$this->status[$this->pedido->orcamento_status_id])); ?>
			<div class="status">
				<?=$data_edit?> <br>
				<span class="s">Status: <?=$status?></span>
			</div>
		</div>
	</div>

	<div id="meus-pedidos" class="open">
		<table id="pedidos">
	        <thead>
	            <tr>
	                <td>Produto</td>
	                <td width="80" align="center">Qtde.</td>
	                <td width="110">Valor Unit.</td>
	                <td width="70">Total</td>
	            </tr>
	        </thead>

	        <tbody>
	            <? /*for($i=1;$i<6;$i++){*/ ?>
            	<? $total = 0; ?>
	            <? foreach($this->pedido_items as $row){ ?>
	            <tr>
	            	<? $valor = $row->valor ? $row->valor : 0; ?>
	            	<? $valor_total = $row->valor ? $row->valor * $row->qtde : 0; ?>
	            	<? $total+= $valor_total; ?>
	                <td><?=$row->titulo?></td>
	                <td align="center"><?=$row->qtde?></td>
	                <td><?=_currency($valor)?></td>
	                <td><?=_currency($valor_total)?></td>
	            </tr>
	            <? } ?>
	        </tbody>

	        <thead>
	            <tr>
	                <td>&nbsp;</td>
	                <td>&nbsp;</td>
	                <td>Total</td>
	                <td><?=_currency($total)?></td>
	            </tr>
	        </thead>
	    </table>

	    <a href="#" class="repetir-pedido">
	    	<span class="sombra"></span>
	    	<span class="texto">Repetir pedido &raquo;</span>
	    </a>

	    <a href="#" class="js-back">
	    	<span class="sombra"></span>
	    	<span class="texto">&laquo; Voltar</span>
	    </a>
	</div>
</div>