<div id="<?=$this->section?>" class="form-list">
    <form action="<?=$this->url?>save" class="frm-<?=$this->section?>" method="post" enctype="multipart/form-data">
        <ul class="row-list">
            <li class="title">
                <span class="row-title row-title-img1">Ícone</span>
                <span class="row-title row-title-img2">Banner</span>
                <span class="row-title row-title-0">Categoria</span>
                <span class="row-title row-title-1">Descrição</span>
                <!-- <span class="row-title row-title-2">Subcategoria de</span> -->
                <!-- <span class="row-title row-title-3">Desconto</span> -->
                <!-- <span class="row-title row-title-3">Visível para</span> -->
                <span class="row-title row-title-4">Ordem</span>
                <span class="row-title row-title-5">Ativo</span>
            </li>
            <? if($this->categorias){ foreach($this->categorias as $row){ ?>
            <li>
                <!-- <?=$this->section?>:<?=$foto->path?> -->
                <a href="#" class="row-action row-action-del">Excluir</a>
                
                <div class="foto-container">
                    <? $foto = $row->foto ? $this->section.':'.$row->foto->path : 'not-found.jpg'; ?>
                    <a href="<?=URL.'/img/'.$foto?>" class="row-foto <?=$row->foto?"fbimg":''?>">
                        <img src='<?=URL.'/img/'.$foto.'?w=20&h=20'?>' />
                    </a>
                    <a href="#file_upload_container" class="row-foto-edit" data-id="<?=$row->id?>" data-tipo="foto">Alterar</a>
                    <a href="#" class="row-foto-del">Excluir</a>
                    <a href="#file_upload_container" class="row-foto-new" data-id="<?=$row->id?>" data-tipo="foto">Inserir</a>
                    <input type="hidden" name="tipo" value="foto">
                    <input type="hidden" name="foto_id[]" class="foto_id" value="<?=$row->foto_id?$row->foto_id:0?>" />
                </div>
                
                <div class="foto-container banner">
                    <? $foto = $row->foto2 ? $this->section.':'.$row->foto2->path : 'not-found.jpg'; ?>
                    <a href="<?=URL.'/img/'.$foto?>" class="row-foto <?=$row->foto?"fbimg":''?>">
                        <img src='<?=URL.'/img/'.$foto.'?w=20&h=20'?>' />
                    </a>
                    <a href="#file_upload_container" class="row-foto-edit" data-id="<?=$row->id?>" data-tipo="foto2">Alterar</a>
                    <a href="#" class="row-foto-del">Excluir</a>
                    <a href="#file_upload_container" class="row-foto-new" data-id="<?=$row->id?>" data-tipo="foto2">Inserir</a>
                    <input type="hidden" name="tipo" value="foto2">
                    <input type="hidden" name="foto_id[]" class="foto_id" value="<?=$row->foto_id?$row->foto_id:0?>" />
                </div>
                
                <input type="text" class="txt row-descricao" name="descricao[]" value="<?=$row->descricao?>" />
                <input type="text" class="txt row-body" name="body[]" value="<?=$row->body?>" />
                
                <?/* $attribs = array('class'=>'txt row-categoria_id'); ?>
                <?// if($row->is_parent) $attribs['disabled'] = 'disabled'; //?>
                <? $options = $row->is_parent ? array('__none__'=>'-------------------------------') : $this->categorias_pai_kv; ?>
                <?=$this->formSelect('categoria_id',$row->categoria_id,$attribs,$options)?>
                
                <? $attribs = array('class'=>'txt row-role'); ?>
                <? $options = $this->roles; ?>
                <?=$this->formSelect('role',$row->role,$attribs,$options)*/?>
                
                <?/*<input type="text" class="txt row-desconto" name="desconto[]" value="<?=$row->desconto?>" maxlength="3" /> <span class="pct">%</span>*/?>
                <a href="#" class="row-order order-up" title="Clique ou arraste para ordenar"></a>
                <a href="#" class="row-order order-down" title="Clique ou arraste para ordenar"></a>
                <input type="checkbox" class="txt row-status_id" name="status_id_check[]" <? if($row->status_id==1){ ?>checked="checked"<? } ?> />
                <input type="hidden" name="status_id[]" value="<?=$row->status_id?>" />
                <input type="hidden" class="row-id" name="id[]" value="<?=$row->id?>" />
                <input type="hidden" class="txt row-ordem" name="ordem[]" value="<?=$row->ordem?>" />
            </li>
            <? }} ?>
        </ul>
        
        <!-- jQuery template -->
        <script type="text/x-jquery-tmpl" id="tmplRow">
            <li>
                <a href="#" class="row-action row-action-del">Excluir</a>
                
                <div class="foto-container">
                    <a href="#" class="row-foto">
                        <img src='<?=URL?>/img/not-found.jpg?w=20&h=20' />
                    </a>
                    <a href="#file_upload_container" class="row-foto-edit" data-id="">Alterar</a>
                    <a href="#" class="row-foto-del">Excluir</a>
                    <a href="#file_upload_container" class="row-foto-new">Inserir</a>
                    <input type="hidden" name="foto_id[]" class="foto_id" value="0" />
                </div>
                
                <input type="text" class="txt row-descricao" name="descricao[]" value="" />
                <input type="text" class="txt row-body" name="body[]" value="" />
                
                <?/*<select class="txt row-categoria_id" name="categoria_id[]">
                    <? foreach($this->categorias_pai_kv as $k=>$v){ ?>
                    <option value="<?=$k?>"><?=$v?></option>
                    <? } ?>
                </select>
                
                <select class="txt row-role" name="role[]">
                    <? foreach($this->roles as $k=>$v){ ?>
                    <option value="<?=$k?>"><?=$v?></option>
                    <? } ?>
                </select>*/?>
                
                <?/*<input type="text" class="txt row-desconto" name="desconto[]" value="" maxlength="3" /> <span class="pct">%</span>*/?>
                <a href="#" class="row-order order-up" title="Clique ou arraste para ordenar"></a>
                <a href="#" class="row-order order-down" title="Clique ou arraste para ordenar"></a>
                <input type="checkbox" class="txt row-status_id" name="status_id_check[]" checked="checked" />
                <input type="hidden" name="status_id[]" value="1" />
                <input type="hidden" class="row-id" name="id[]" value="0" />
                <input type="hidden" class="txt row-ordem" name="ordem[]" value="" />
            </li>
        </script>
        <!-- /jQuery template -->
        
        <div class="row-tools">
            <a href="#" class="row-add">+ Adicionar categoria</a>
            <div class="row-status"><ul></ul></div>
        </div>
        
        <div class="bt-container">
            <input type="submit" class="bt" value="Salvar" id="submit" />
        </div>
    </form>
</div>

<div class="fboxc" id="fotos">
    <link rel="stylesheet" href="<?=CSS_PATH?>/jquery-ui/jquery-ui.css" id="theme" />
    <div id="file_upload_container">
        <form method="POST" enctype="multipart/form-data" action="#" class="file_upload" id="file_upload">
            <button>Enviar foto<?=$this->MAX_FOTOS?' (Máx. '.$this->MAX_FOTOS.')':''?></button>
            <div>Enviar foto<?=$this->MAX_FOTOS?' (Máx. '.$this->MAX_FOTOS.')':''?></div>
            <input type="file" name="file" />
        </form>
        
        <table id="file_upload_list" cellspacing="0" width="100%">
            <!--<tr class="error"><td colspan="3">Envie até 3 fotos de no máximo 2MB cada.</td></tr>-->
        </table>
    </div>
</div>