<h2><a href="<?=URL?>/categoria/" class="back">Comprar mais produtos</a>CONFIRMAÇÃO</h2>

<div class="content-text">
    <form action="" method="post">
        <div class="cart-item cart-item-pagamento">
            <div class="cart-item-description cart-item-pagamento-description">
                COMPRA FINALIZADA
            </div>
        </div>
        
        <div class="cart-item cart-item-pagseguro">
            Você efetuou sua compra com sucesso! <br />
            Aguarde nossos e-mails para acompanhar o andamento de seu pedido!
        </div>
    </form>
</div>

<br clear="all" />