<h2>IDENTIFICAÇÃO</h2>

<div class="content-text">
    <form action="" method="post" class="frm-cart">
        <div class="cart-item cart-item-first-buy">
            <div class="cart-item-description cart-item-first-buy-description">
                ESTA É MINHA PRIMEIRA COMPRA &raquo;
            </div>
            
            <div class="cart-item-price cart-item-first-buy-signup">
                <a href="<?=URL?>/cadastro/">CADASTRAR</a>
            </div>
        </div>
        
        <div class="cart-item cart-item-signin">
            <fieldset>
                <legend>JÁ SOU CADASTRADO:</legend>
                
                <ul>
                    <li>
                        <label>login / e-mail:<br /><input type="text" name="login" class="txt2" /></label>
                        <label>senha:<br /><input type="password" name="senha" class="txt2" /></label>
                        <input type="hidden" name="frm-cart-action" value="login" />
                    </li>
                </ul>
            </fieldset>
        </div>
        
        <?=$this->partial('meu-carrinho/partial-continue.phtml',array('active'=>$this->action))?>
    </form>
</div>

<br clear="all" />