<?=$this->render('index/destaque.phtml')?>

<div class="produtos-container">
<h2 class="page-title <?=$this->controller?>">
    <span class="itens"><?=count($this->cart->items)?> itens</span>
    <span>Carrinho</span>
</h2>
</div>

<script type="text/javascript">var RATES = new Array();</script>

<div class="content-text">
    <? if(count($this->cart->items)){ $total=0; $hidevp=false; $peso=0; $indisponivel=0; ?>
    <div class="cart-titles">
        <ul>
            <li class="gd">Produto</li>
            <li class="pq">Quantidade</li>
            <li class="pq last">Preços</li>
            <!-- <li class="pq">Excluir</li> -->
        </ul>
    </div>

    <form action="" method="post" class="frm-cart">
        <? foreach($this->cart->items as $key => $item){ ?>
        <div class="cart-item">
            <div class="cart-item-img" <?=Img::bg('produtos|'.$item->item->fotos[0]->path.'?w=220&h=147');?>>
                <div class="cart-item-description">
                    <? $categoria_id = count($item->item->categorias) ? $item->item->categorias[0]->categoria_id : '0'; ?>
                    <span class="cat-icon icon-<?=$categoria_id?>"></span>

                    <?=$item->item->titulo.((bool)@$item->item->cod ? ' ['.$item->item->cod.']' : '')?>
                    <? if($item->item->categoria_id!=VALEPRESENTEID){ ?>
                    <?=@$item->cor?'<span class="cor">&bull; '.$item->cor->descricao.'</span>':''?>
                    <?=@$item->tamanho?'<span class="tamanho">&bull; '.$item->tamanho->descricao.'</span>':''?>
                    <?=@$item->voltagem?'<span class="voltagem">&bull; '.$item->voltagem->descricao.'</span>':''?>
                    
                    <span class="estoque">
                    <? switch(true){
                        case $item->item->estoque <= 0 :
                            $indisponivel = 1;
                            echo 'Produto indisponível.'; break;
                        case $item->amount > $item->item->estoque :
                            $indisponivel = 1;
                            echo 'Quantidade indisponível.<br>Por favor, compre até '.$item->item->estoque.' unidade(s).'; break;
                    } ?>
                    </span>

                    <? } else if(!$item->item->valor < 0) { ?>
                    <br />
                    <label for="vp-para_<?=$item->item->id?>" class="vp-para-label">Enviar para e-mail:</label>
                    <input type="text" class="txt2 vp-para" name="vp_para_<?=$item->item->id?>" id="vp_para_<?=$item->item->id?>" />
                    <? } else { $hidevp = true; } ?>
                </div>
            </div>
            
            
            <div class="cart-item-amount-container">
                <!-- quantidade: -->
                <span class="amount-item-container">
                    <a href="#" class="seta-l" id="amount-dec"></a>
                    <input type="<?=$item->item->categoria_id==VALEPRESENTEID ? 'hidden':'text'?>" class="cart-item-amount item-amount txt2" value="<?=$item->amount?>" name="item-amount[]" />
                    <a href="#" class="cart-item-amount-check cart-item-amount-check-qt" title="Atualizar carrinho"></a>
                    <a href="#" class="seta-r" id="amount-inc"></a>
                </span>

                <a href="#" class="cart-item-del" title="Excluir item" data-id="<?=$key?>">&raquo; excluir produto &laquo;</a>
            </div>
            
            <!--<div class="cart-item-price-unitary price">
                preço unitário: <?=_currency($item->item->valor)?>
            </div>-->
            
            <div class="cart-item-price price">
                <? $item_total = $item->item->valor * $item->amount; ?>
                <? $total+= ($item->item->categoria_id==VALEPRESENTEID) ? -$item_total : $item_total; ?>
                <? $peso+= (float)$item->item->peso; ?>
                <? $parc = number_format($item_total / 12,2,',','.'); ?>
                <span class="item-price"><?=_currency($item_total)?></span>
                <span class="item-parc">ou até 12x de <span id="parc"><?=$parc?></span></span>
                <input type="hidden" class="item-id" name="item-id[]" value="<?=$item->item->id?>" />
                <input type="hidden" class="item-cor-id" name="item-cor-id[]" value="<?=$item->cor_id?>" />
                <input type="hidden" class="item-valor" name="item-valor[]" value="<?=($item->item->categoria_id==VALEPRESENTEID) ? -$item->item->valor : $item->item->valor?>" />
                <input type="hidden" class="item-valor-total" name="item-valor-total[]" value="<?=$item_total?>" />
                <input type="hidden" class="item-peso" name="item-peso[]" value="<?=$item->item->peso?>" />
                <input type="hidden" class="item-estoque" name="item-estoque[]" value="<?=$item->item->estoque?>" />
                <input type="hidden" class="item-indisponivel" name="item-indisponivel[]" value="<?=$indisponivel?>" />
            </div>

            <?/*<div class="cart-item-del-container">
                <a href="#" class="cart-item-del" title="Excluir item" data-id="<?=$key?>"></a>
            </div>*/?>
        </div>

        <br clear="all" />
        <? } ?>
        
        <? if($this->rates){ ?>
        <?/*<div class="cart-titles">
            <ul>
                <li class="gd">Opções de entrega</li>
            </ul>
        </div>*/?>
        <? $i=0; foreach($this->rates as $rate){ $i++; ?>
        <?=Js::script('RATES.push('.json_encode($rate).');');?>
        <?/*$rateValid = $rate->isencao && $rate->isencao > 0 && $rate->isencao > $total;*/?>
        <? $rateValid = ($rate->isencao > 0 ? $rate->isencao > $total : $rate->isencao <= 0); ?>
        <? $rateOptional = $rate->tipo == 1; ?>
        <div class="cart-item cart-item-delivery cart-item-delivery-rate <?=$rateOptional?'rate-optional':'rate-fixed'?>" id="rate_<?=$rate->id?>" <?=$rateValid?'':'style="display:none"'?>>
            <!--<div class="cart-item-img cart-item-delivery-img">
                DELIVERY
            </div>-->
            
            <div class="cart-item-description cart-item-delivery-description">
                <? if($rateOptional){ ?>
                <input type="radio" id="choose-rate_<?=$rate->id?>" name="rate" value="<?=$rate->id?>" class="choose-rate" />
                <label for="choose-rate_<?=$rate->id?>">
                <? } ?>
                
                <?=$rate->descricao?>
                <? if($rate->isencao > 0){ ?>
                <span class="isencao">(Isento em compras acima de <?=_currency($rate->isencao)?>)</span>
                <? } ?>
                
                <? if($rateOptional){ ?></label><? } ?>
            </div>
            
            <div class="cart-item-price cart-item-delivery-price price">
                <? if($rateOptional){ ?>
                <label for="choose-rate_<?=$rate->id?>" class="choose-rate-lb">
                <? } ?>
                
                <?=_currency($rate->valor)?>
                
                <? if($rateOptional){ ?></label><? } ?>
                
                <input type="hidden" class="item-delivery-rate" name="item-delivery-rate[]" value="<?=$rate->valor?>" />
                <input type="hidden" class="item-delivery-rate-id" name="item-delivery-rate-id[]" value="<?=$rate->id?>" />
                <? $total+= ((!$rateOptional && $rateValid) ||
                             ($rateOptional && $rateValid && $i==1)) ?
                            $rate->valor : 0; ?>

                <?/*=_currency($rate->valor)?>
                <input type="hidden" class="item-delivery-rate" name="item-delivery-rate[]" value="<?=$rate->valor?>" />
                <? $total+= $rateValid ? $rate->valor : 0; */?>
            </div>
        </div>
        <? }} ?>
               
        <? if(MOD_FRETE) echo $this->partial('meu-carrinho/mod-frete.phtml',array('rates'=>$this->rates)); ?>

        <? /*if(MOD_CUPOM_DESCONTO && !$hidevp){ ?>
        <div class="cart-titles">
            <ul>
                <li class="gd">Descontos</li>
            </ul>
        </div>
        <? }*/ ?>

        <? if(MOD_CUPOM_DESCONTO) echo $this->partial('meu-carrinho/mod-cupom-desconto.phtml'); ?>
        
        <? if(!$hidevp && MOD_VALE_PRESENTE){ ?>
        <div class="cart-item cart-item-vp" id="vp">            
            <div class="cart-item-description cart-item-vp-description">
                Possui um vale presente? digite o código:
                <input type="text" class="item-vp txt2" name="item-vp-cod" value="" />
                <a href="#" class="cart-item-amount-check cart-item-amount-check-vp" title="Atualizar carrinho"></a>
            </div>
            
            <div class="cart-item-price cart-item-vp-price price">
                <!--
                <input type="hidden" class="item-id" name="item-id[]" value="" />
                <input type="hidden" class="item-cor-id" name="item-cor-id[]" value="" />
                <input type="hidden" class="item-valor" name="item-valor[]" value="" />
                <input type="hidden" class="item-valor-total" name="item-valor-total[]" value="" />
                -->
            </div>
        </div>
        <? } ?>

        <div class="cart-item cart-item-total">
            <? $total = $total < 0 ? 0 : $total; ?>
            <div class="cart-item-description cart-item-total-description">
                TOTAL
            </div>
            
            <div class="cart-item-price cart-item-total-price price">
                <span class="price-total"><?=_currency($total)?></span>
                <input type="hidden" class="item-cart-total" value="<?=$total?>" />
                <input type="hidden" class="item-cart-peso" value="<?=$peso?>" />
            </div>
        </div>

        <div class="cart-item cart-item-prazo">
            <div class="cart-item-description cart-item-prazo-description">
                Prazo de entrega
            </div>
            
            <div class="cart-item-price cart-item-prazo-price">
                <span class="price-prazo" id="prazo-entrega">0 dias</span>
            </div>
        </div>
        
        <div class="cart-forma" style="display:none">
            Quero receber meu pedido:
            <?=$this->formRadio('pedido_forma',$this->cart->forma,null,$this->formas,' ')?>
        </div> 
        
    </form>
    <?=$this->partial('meu-carrinho/partial-continue.phtml',array('active'=>$this->action))?>
    </div>
    <? } else { ?>
    <div class="cart-empty">
        Você não adicionou nenhum produto ao carrinho.
    </div>
    </div>
    <? } ?>

<br clear="all" />