<div class="cart-item cart-item-vp cart-item-cupom-desconto" id="cupom-desconto">            
    <div class="cart-item-description cart-item-vp-description cart-item-cupom-desconto-description">
        CUPOM DE DESCONTO: Se você possui um código promocional informe-o para obter o desconto:
        <input type="text" class="item-cupom-desconto txt2" name="item-cupom-desconto" value="" />
        <a href="#" class="cart-item-amount-check cart-item-amount-check-cupom-desconto" title="Consultar cupom-desconto"></a>
    </div>
    
    <div class="cart-item-price cart-item-cupom-desconto-price price"></div>
</div>