<div class="cart-item cart-item-vp rate-optional cart-item-delivery-frete" id="frete">            
    <div class="cart-item-description cart-item-vp-description">
        <input type="radio" id="choose-rate_frete" name="rate" value="0" class="choose-rate <?=!count($this->rates)?'hidden':''?>" />
        <? if(count($this->rates)){ ?>
        <label for="choose-rate_frete">
        <? } ?>

        Digite o CEP para calcular o valor do frete:
        <?/*<i class="item-obs" id="obs-frete">
            * Pedidos aprovados até às 14h seguem no mesmo dia, após às 14h seguem no próximo dia útil (exceto máscaras decorativas).
        </i>*/?>
        <? if(count($this->rates)){ ?></label><? } ?>

        <input type="text" class="item-frete txt2 mask-cep" name="item-frete" value="" id="item-frete" />
        <a href="#" class="cart-item-amount-check cart-item-amount-check-frete" title="Calcular frete">Calcular frete</a>
        <select name="frete_tipo" id="frete_tipo" class="txt2">
            <option value="41106">PAC</option>
            <option value="40010">Sedex</option>
            <!-- <option value="40215">Sedex 10</option> -->
        </select>
    </div>
    
    <div class="cart-item-price cart-item-frete-price price">
        <? if(count($this->rates)){ ?>
        <label for="choose-rate_frete" class="choose-rate-lb">
        <? } ?>

        <div id="frete-valor"></div>

        <? if(count($this->rates)){ ?></label><? } ?>
    </div>
</div>