<h2>PAGAMENTO</h2>

<div class="content-text">
    <!--<form action="" method="post">-->
        <div class="cart-item cart-item-pagamento">
            <div class="cart-item-description cart-item-pagamento-description">
                PAG SEGURO
            </div>
        </div>
        
        <div class="cart-item cart-item-pagseguro">
            INSTRUÇÕES
            
            <? /*if(!$this->hasLocal){ ?>
            <div class="attention">
                Atenção <br />
                <p>
                    Seu bairro não está dentro de nossa área de cobertura de entrega.<br /> Para verificar se é possível realizarmos sua entrega, por favor entre em contato com nossa central através do telefone: <b>11 5533.4181</b> ou <b>11 5092 9023</b>.
                </p>
            </div>
            <? }*/ ?>
            
            <p class="lower">Ao clicar em continuar, você será redirecionado ao site do PagSeguro para realizar o pagamento de sua compra.</p>
            
            <p class="lower">Após efetuado o pagamento, a entrega é agendada via e-mail.</p>
        </div>
        
        <div class="cart-item cart-item-pagseguro">
            <p class="lower" style="margin:0 0 15px 0;">
                Utilize o campo abaixo para fazer alguma observação com relação ao seu pedido: <br />
                <span></span>
            </p>
            <?=$this->form?>
        </div>
        <?=$this->partial('meu-carrinho/partial-continue.phtml',array('active'=>$this->action))?>
    <!--</form>-->
</div>

<br clear="all" />