<div class="cart-item cart-item-continue">
    <a href="<?=URL?>/produtos/" class="continue">Continuar comprando</a>
    <a href="#" class="concluir">Concluir compra</a>
</div>

<?/*
$action = array(
    'index' => 'identificacao',
    'identificacao' => 'identificacao',
    'pagamento' => 'confirmacao',
    'confirmacao' => 'confirmacao',
);
$text = array(
    'index' => 'forma de pagamento',
    'identificacao' => 'forma de pagamento',
    'pagamento' => 'confirmar compra',
    'confirmacao' => 'finalizar',
);
function active($this_active,$active){
    return $active == $this_active ? 'active' : '';
}

echo Js::script('var CART_ACTION = "'.$action[$this->active].'"');
?>

<div class="cart-continue bt-red-whole">
    <a href="#" class="cart-continue">
        <span class="seta">&raquo;</span>
        Próximo passo: <?=$text[$this->active]?>
    </a>
</div>

<!--<div class="cart-steps">
    <ul>
        <li class="<?=active($this->active,'index')?>"><span>MEU CARRINHO DE COMPRAS</span></li>
        <li class="<?=active($this->active,'identificacao')?>"><span>IDENTIFICAÇÃO</span></li>
        <li class="<?=active($this->active,'pagamento')?>"><span>PAGAMENTO</span></li>
        <li class="<?=active($this->active,'confirmacao')?> last"><span>CONFIRMAÇÃO</span></li>
    </ul>
</div>-->
*/?>