<? if($this->id){ ?>
<div class="content-right">
    <div id="fotos">
        <?=$this->render('usuarios/fotos.phtml');?>
    </div>
</div>
<? } ?>

<script>
$(document).ready(function(){
    $("#submit").click(function(e){
        if($.trim($("#nome").val()).length == 0 || $.trim($("#login").val()).length == 0 || $.trim($("#email").val()).length == 0){
            e.preventDefault();
            Msg.add("Preencha todos os campos corretamente.","erro").show();
            return false;
        }
    });
});
</script>

<div id="form-new">
    <form action="<?=$this->escape($this->form->getAction());?>" method="<?=$this->escape($this->form->getMethod());?>">
        <ul>
            <? foreach($this->form->getElements() as $elm){ ?>
            <li class="<?=$elm->getAttrib("class")?> <?=$elm->getId()=='descricao'?"bt-left":""?>">
                <? if($elm->getId() != "submit"){ ?>
                <label for="<?=$elm->getId()?>"><?=$elm->getLabel()?></label>
                <? } ?>

                <? if($elm->getId() == "escolaridade_id"){ ?>
                </li></ul>
                <? if($this->edit){
                    $txt_escolaridade = utf8_encode($this->usuarios->getEscolaridade($this->id));
                    $txt_atividade = utf8_encode($this->usuarios->getAtividade($this->id)); ?>
                <div class="data-user escolaridades string">
                    <label for="escolaridades_id">Escolaridade</label>
                    <span class="change"><?=$txt_escolaridade.' ('.($this->data['escolaridade_completo']==1?'completo':'incompleto').')'?> <a href="#" class="expand-list e">&bull; alterar</a></span>
                    <br clear="all" />
                </div>
                <? } ?>
                <div class="data-user escolaridades escolaridades-list <?=$this->edit?'edit':''?>">
                    <label for="escolaridades_id">Escolaridade</label>

                    <? $menu = array();

                    foreach($this->escolaridade as $e){
                        if(!isset($menu[$e->parent_id])) $menu[$e->parent_id] = array();
                        $menu[$e->parent_id][$e->id] = $e;
                    }

                    echo menuPrint2($menu);
                    ?>
                </div>
                <div class="data-user escolaridade-completo  <?=$this->edit?'edit':''?>">
                    <label class="escolaridade_completo-label" for="escolaridade_completo">&nbsp;</label>
                    <input type="radio" class="cb" name="escolaridade_completo" id="escolaridade_completo_0" value="1" style="margin-left:10px;" <?=$this->data&&@$this->data->escolaridade_completo==1?'checked="checked"':''?> <?=!$this->data?'checked="checked"':''?> /> <label for="escolaridade_completo_0" class="lb">Completo</label>
                    <input type="radio" class="cb" name="escolaridade_completo" id="escolaridade_completo_1" value="0" style="margin-left:10px;" <?=$this->data&&@$this->data->escolaridade_completo==0?'checked="checked"':''?> /> <label for="escolaridade_completo_1" class="lb">Incompleto</label>
                </div>
                <!-- <br clear="all" /> -->
                <ul><li>
                <? } ?>
                
                <? if($elm->getId() == "atividade_profissional_id"){ ?>
                </li></ul>
                <? if($this->edit){ ?>
                <div class="data-user atividades string">
                    <label for="escolaridades_id">Ativ. Profissional</label>
                    <span class="change"><?=$txt_atividade?> <a href="#" class="expand-list a">&bull; alterar</a></span>
                    <br clear="all" />
                </div>
                <? } ?>
                <div class="data-user atividades atividades-list <?=$this->edit?'edit':''?>">
                    <label for="atividade_profissional_id">Ativ. Profissional</label>
                    <? $menu = array();

                    foreach($this->atividades as $e){
                        if(!isset($menu[$e->parent_id])) $menu[$e->parent_id] = array();
                        $menu[$e->parent_id][$e->id] = $e;
                    }

                    echo menuPrint($menu);
                    ?>

                    <br clear="all" />
                    <span class="tip">* Assinale todas as alternativas que se enquadram</span>
                    <br clear="all" />
                </div>
                <!-- <br clear="all" /> -->
                <ul><li>
                <? } ?>
                
                <?=$elm->render()?>
            </li>
            <? if($elm->getId() == "senha"){ ?><!--<br clear="all" />--><? } ?>
            <? } ?>
        </ul>
        <br clear="all" />
        <div class="bt-container">
            <input type="submit" class="bt" value="Salvar" id="submit" />
            <input type="hidden" name="action" value="<?=$this->action?>" />
        </div>
    </form>
</div>

<?
function menuPrint($m,$p=0){
    $html = '<ul>';

    foreach($m[$p] as $k=>$v){
        $html.= '<li data-id="'.$v->id.'">'.$v->titulo;
        if(isset($m[$k])) $html.= menuPrint($m,$k);
        $html.= '</li>';
    }

    $html.= '</ul>';
    return $html;
}

function menuPrint2($m,$p=0){
    $html = $p==0 ? '':'';
    $html.= '<select class="txt  '.($p==0?'parent':'sub').'" data-parent_id="'.$p.'" name="escolaridades[]" id="escolaridades_'.$p.'">';
    $html.= '<option value="">Selecione...</option>';

    foreach($m[$p] as $k=>$v){
        $html.= '<option data-id="'.$v->id.'" value="'.$v->id.'">'.$v->titulo;
        $html.= '</option>';
        if(isset($m[$k])) $html.= '</select>'.menuPrint2($m,$k);
    }

    $html.= '</select>';
    return $html;
}
?>