<?=Js::script('var roles = '.json_encode($this->usuarios->roles).';')?>

<div class="search-bar">
    <form action="<?=$this->url.'new'?>" method="get" class="order-form">
        <?=((isset($_GET['search-by']) && @$_GET['search-by']=='role')?
            '<input type="hidden" value="'.@$_GET['search-txt'].'" name="role" />':
            '')?>
        <input type="submit" class="bt" value="+ Adicionar" />
    </form>
    
    <form action="" method="get" class="search-form">
        <label for="search-by" class="search-label">Buscar por:</label>
        <?=$this->formSelect('search-by',@$_POST['search-by'],array('class'=>'txt'),array(
            'nome'=>'Nome',
            'login'=>'Login',
            'email'=>'E-mail',
            'role'=>'Tipo',
            'id'=>'ID'
        ))?>
        <?=@$_POST['search-by']=='role'?
            $this->formSelect('search-txt',@$_POST['search-txt'],array('class'=>'txt','style'=>'width: 180px;'),$this->usuarios->roles):
            $this->formText('search-txt',@$_POST['search-txt'],array('class'=>'txt'))?>
        <!-- <input type="text" class="txt" name="search-txt" id="search-txt" value="<?=@$_OST['search-txt']?>" /> -->
        <input type="hidden" name="search-action" value="search" />
        <input type="submit" class="bt" value="Enviar" />
    </form>
</div>