<style>
.error{width:100%;text-align:center;padding:50px 0;color:<?=$this->controller=='admin'?'#000':'#000'?>;}
/*.error h3{color:<?=$this->controller=='admin'?'#000':'#fff'?>;}*/
.error h1{font-size:25px;margin-bottom:20px}
.bt{background:<?=$this->controller=='admin'?'#eee':'#fff'?>;border:none;padding: 5px 10px;margin-top:20px;cursor:pointer;}
</style>

<div class="error">
    <!--<h1>Um erro ocorreu:</h1>-->
    <h3><?php echo $this->message ?></h3>

    <?php if (isset($this->exception)): ?>
    <h3>Informação:</h3>
    <p>
      <b>Mensagem:</b> <?php echo $this->exception->getMessage() ?>
    </p>

    <h3>Stack trace:</h3>
    <pre><?php echo $this->exception->getTraceAsString() ?>
    </pre>

    <h3>Request Parameters:</h3>
    <pre><?php echo var_export($this->request->getParams(), true) ?>
    </pre>
    <?php endif ?> 

    <!--<form method="get" action="<?=$this->url?>/" style="margin-top:20px;">
    <input type="submit" class="bt" value="IR PARA PÁGINA INICIAL &raquo;" />
    </form>-->
    <input type="button" class="submit bt" value="&laquo; VOLTAR" style="<?=$this->controller=='admin'?'color#000;font-size:12px;':'color:#000;font-size:15px;'?>" onclick="<?=$this->url ? "window.location = '".$this->url."'":"history.back();";?>" />
</div>