<div class="filters">
    <div class="filter">
        <ul>
            <li><a href="#empresa-a-historia" class="empresa-a-historia">A história</a></li>
            <li><a href="#empresa-a-equipe" class="empresa-a-equipe">A equipe</a></li>
            <li><a href="#empresa-produtos" class="empresa-produtos">Os Produtos</a></li>
        </ul>
    </div>
</div>

<div id="empresa-container">
    <div id="empresa-index" class="empresa-page show">
        <p class="index index-first">
            <img src="<?=IMG_PATH?>/millagro-fotos-empresa1.png" />
            Desde 2001, quando foi fundada, a Millagro destaca-se pela diversidade de soluções que apresenta para seus clientes, trabalhando como um verdadeiro parceiro artístico e técnico de vários segmentos publicitários e empresariais.
            <br><br>
            Aliando a experiência de profissionais renomados do mercado à ousadia de jovens talentos que surgem nas áreas de roteiro, direção, produção, computação gráfica e edição, a produtora estabeleceu e tem mantido uma dinâmica de trabalho surpreendente.
        </p>
        
        <p class="index index-last">
            <img src="<?=IMG_PATH?>/millagro-fotos-empresa2.png" />
            Atendimento personalizado, soluções criativas, rigor no cumprimento de prazos e agilidade sem comprometer a qualidade dos trabalhos. Esses são alguns dos compromissos que assumimos. E o resultado desse trabalho é refletido na sólida carteira de clientes construída pela Millagro.
            <br><br>
            E que portfólio de clientes! Empresas como Assim Saúde, BrasFels, Chevrolet, Coca-Cola, DFL, Dockwise, Firjan, FSTP do Brasil, Furnas, Grupo EBX, Hospital ProSaúde, João Fortes, Log-In, Metrô Rio, Oas, Odebrecht, Otis, Petrobras, Queiroz Galvão, Raízen (Shell e Cosan), Reckitt Benckiser, SuperVia, Transpetro, Ultragaz, United Air Lines, Vale, Varilux e VLi.
            <br><br>
            Além dessas companhias, também trabalhamos para agências. Somos parceiros da Ogilvy, Casa da Criação, Escritório de Ideias, Motrix Publicidade, Comunicação Estratégica, Arte & Mídia Publicidade, Scorcelli Comunicação, Aroldo Araújo Propaganda e 40Graus.
        </p>
    </div>

    <div id="empresa-a-historia" class="empresa-page">
        <p>A Millagro nasceu em 2001, quando o até então produtor musical e empresário do ramo artístico, Cassiano Scarambone, decide ir além das notas musicais. Experiente em edição no Pro Tools, software de edição sonora, resolve também editar imagens, aventurando-se em um mundo de novas possibilidades, experimentando um novo e vasto universo. Dirigiu grande parte dos trabalhos da casa, tendo sido o primeiro profissional no mundo a rodar um longa com uma Canon 5D Mark II, segundo a própria fabricante.</p>
        <p>Foi nesta época que conheceu André Coutrim, empresário que em 1994 introduziu no Brasil um pioneiro sistema de controle de acesso para shows, criação que logo se tornou padrão de mercado. Empreendedor, DJ, entusiasta por tecnologia, aventurou-se na área de design gráfico ainda na fase acadêmica, mas foi a partir da entrada na Millagro que começou a dar asas às suas criações no mundo audiovisual e hoje é responsável pela computação gráfica e direção de arte.</p>
        <p>De um lado, o cinéfilo, amante de equipamentos e câmeras. Do outro, o aficcionado pela computação, efeitos e criação. Da união desses dois mundos que convivem na suas sintonias e nas suas divergências nasceu e cresceu a Millagro.</p>
        <p>No início de 2012, junta-se a produtora Aleksander Farias, também conhecido como “Dinho”. Com experiência na produção de dramaturgia  e entretenimento para novas mídias, Dinho passa a fortalecer a presença e networking da Millagro no mercado Paulistano.</p>
    </div>
    
    <div id="empresa-a-equipe" class="empresa-page">
        <p>Foram muitas e muitas noites a fio editando, criando, superando. Sem jamais admitir que algo é impossível, seguimos  buscando adeptos a nossa  filosofia: “...que para ter sucesso  uma empresa tem que trabalhar duro”.</p> 
        <p>E conseguimos. Hoje a produtora pode se orgulhar de ter uma equipe de primeira, diferenciada no mercado. Um time que dedica tudo de si ao seu trabalho, ao seu cliente. Que acredita no que faz porque faz aquilo que ama.</p> 
        <h3>
            <?=linksocial(null,'linkedin').linksocial(null,'skype')?>
            Cassiano Scarambone <br>
            <span class="cargo">: : Presidente</span>
        </h3>
        <h3>
            <?=linksocial('andrecoutrim','linkedin').linksocial(null,'skype')?>
            André Coutrim <br>
            <span class="cargo">: : Diretor</span>
        </h3>
        <h3>
            <?=linksocial('aleksanderfarias','linkedin').linksocial('aleksander_farias','skype')?>
            Aleksander “Dinho” Farias <br>
            <span class="cargo">: : Diretor, Millagro São Paulo</span>
        </h3>
        <h3>
            <?=linksocial(null,'linkedin').linksocial(null,'skype')?>
            Allan Fontes <br>
            <span class="cargo">: : Diretor de Edição</span>
        </h3>
        <h3>
            <?=linksocial(null,'linkedin').linksocial(null,'skype')?>
            Renata Alvarenga <br>
            <span class="cargo">: : Diretora de Produção</span>
        </h3>
        <h3>
            <?=linksocial(null,'linkedin').linksocial(null,'skype')?>
            Katrine Pavelak <br>
            <span class="cargo">: : Coordenadora de Projetos</span>
        </h3>
    </div>

    <div id="empresa-produtos" class="empresa-page">
        <h3>: : Vídeo</h3>
        <p>Nosso produto principal, voltado para atender às mais diversas áreas. Desde o vídeo institucional (para empresas), até os de dramaturgia  (longas-metragens, seriados e outros), passando pelas mais recentes tendências que a internet e as novas tecnologias tornaram possíveis. Descubra se algum dos produtos do nosso portfólio  vai ao encontro do que você busca. Se não achar o que procura, pode ficar tranquilo. Nós criamos o produto na medida de sua necessidade.</p> 
        
        <h3>: : Fotografia</h3>  
        <p>Oferecemos serviços de fotografia tradicional. Mas se você procura por algo mais avançado, podemos realizar seu desejo. Tenha ao seu alcance os melhores profissionais e a melhor tecnologia existente ao seu dispor, como fotos 360 graus, megafotos, etc...</p>
        
        <h3>: : Time Lapse</h3>
        <p>Técnica fotográfica na qual o objeto em foco é fotografado com uma certa frequência, ao longo de determinado período de tempo. É pela velocidade de reprodução dessas fotos (ou quadros) que temos noção de seu movimento e evolução.</p>
        <p>A técnica vem sendo utilizada a décadas nos países desenvolvidos, talvez por uma questão cultural ou de investimentos, porém somente agora começa a ser difundida no Brasil. Já velha conhecida daqueles que assistem aos mirabolantes programas do Discovery Channel e NatGeo, mostrando desde o crescimento de uma planta até a construção de um arranha-céu, o Time Lapse ainda é, para muitos, objeto de curiosidade e estranheza. Quer saber um pouco mais como ela pode ser útil ao seu empreendimento? Não deixe de conversar com a gente.</p> 
        
        <h3>: : TV Corporativa / TV Interna</h3>
        <p>TV institucional, canal digital, canal corporativo, mural eletrônico,comunicação digital, painel digital, canal eletrônico e canal de comunicação interna... são muitos os termos usados para definir a TV Corporativa. A característica comum é a solução de digital signage (sinalização digital) em sua estrutura. Deixe as questões técnicas conosco e cuidamos do seu briefing para produzir o conteúdo desejado.</p>
        
        <h3>: : Computação Gráfica / Animação</h3>
        <p>Um dos produtos que marcam o diferencial da Millagro no mercado. São raros os trabalhos que chegam aos nossos clientes sem grafismos, animações e toda uma gama de efeitos que dão mais vida ao seu filme.</p> 
        <p>Desenho animado, 3D, 2D, animatic, stop motion, videoscribing... Colocamos todas as técnicas possíveis a sua disposição. Invente, crie, imagine. A Millagro realiza.</p>
        
        <h3>: : Câmeras de vigilância</h3>
        <p>Temos uma área de TI que coloca dentro do seu empreendimento, câmeras de alta resistência e avançados recursos, através das quais os nossos clientes monitoram obras e eventos em tempo real, via internet. Fornecemos o equipamento, damos manutenção e garantimos o funcionamento do serviço com reparação e substituição de peças.</p> 
    </div>
</div>

<?
function linksocial($nick=null,$type='linkedin'){
    $link = '#';
    $title = ($type=='linkedin' ? 'LinkedIn' : 'Skype');

    if($nick){
        $link = $type=='linkedin' ?
                'http://br.linkedin.com/in/'.$nick :
                'skype:'.$nick.'?chat';
    }

    $html = "<a href='".$link."' target='_blank' class='".$type." ".(!$nick ? 'disabled' : '')."' title='".$title."'>".
            "<span class='nick'>".$nick."</span>".
            "<span class='icone-wrapper'>".
            "<span class='icone'>".$nick."</span>".
            "</span>".
            "</a>";

    return $html;
}