<section class="contato contato-left">
    <div class="contato-content">
        <h1>
            <?=$this->dados_empresa->tel1?>
            <? if((bool)trim($this->dados_empresa->tel2)){ ?>
            <br><?=$this->dados_empresa->tel2?>
            <? } ?>
        </h1>
    
        <a href="mailto:<?=$this->dados_empresa->email?>">
            <?=$this->dados_empresa->email?>
        </a> <br><br>
        
        <?=$this->dados_empresa->endereco?> <br>
        <?=$this->dados_empresa->bairro?> &bull;
        <?=$this->dados_empresa->cidade?>, 
        <?=$this->dados_empresa->estado?> &bull;
        <?=Is_Format::cep($this->dados_empresa->cep)?>
    </div>

    <? $gmaps = trim($this->dados_empresa->gmaps_link);
    $iframe_url = ((bool)$gmaps && $gmaps!='#') ?
        $gmaps.'&output=embed' :
        'https://maps.google.com/maps?q='._parseEndereco($this->dados_empresa).'&output=embed'; ?>
    <div id="mapa">
        <iframe id="ifr_mapa" width="100%" height="410" frameborder="0" style="border:0" allowfullscreen scrolling="no" marginheight="0" marginwidth="0" src="<?=$iframe_url?>"></iframe>
    </div>
</section>
    
<section class="contato contato-right">
    <div class="contato-content">
        <h1>FALE CONOSCO</h1>
        <form action="#" id="frm-contato" class="frm-contato" method="post">
            <input type="text" class="txt2" id="nome" name="nome" placeholder="nome" required />
            <input type="email" class="txt2" id="email" name="email" placeholder="e-mail" required />
            <input type="tel" class="txt2 mask-cel" id="telefone" name="telefone" placeholder="telefone" />
            <textarea class="txt2" id="mensagem" name="mensagem" placeholder="mensagem" required></textarea>
            <input type="submit" id="submit" value="Enviar">
            <a href="#" class="submit" id="submit-frm-contato">
                Enviar
            </a>
            <p class="status"></p>
        </form>
    </div>
</section>