<?=Js::load(JS_PATH.'/jwysiwyg/jquery.wysiwyg.js');?>
<?=Js::load(JS_PATH.'/admin/paginas.js');?>
<?=Css::load(JS_PATH.'/jwysiwyg/jquery.wysiwyg.css');?>
<?=Css::load(CSS_PATH.'/admin/paginas.css');?>

<script>
$(document).ready(function(){
    //$("#alias").val("/dsuihfuisdfds/fdsoifdsoi/");
    //$("#alias").getAlias("#nome");
    
    $('textarea.wysiwyg').wysiwyg({
        css:{fontFamily:'Arial,sans-serif',fontSize:'13px',margin:0,padding:0},
        visible:"bold,italic,underline,h1,h2,separator00,"+
                "justifyLeft,justifyCenter,justifyRight,separator01,"+
                "insertUnorderedList,insertOrderedList,separator02,"+
                "createLink<?=$this->allow_photos?",insertImage":""?>,separator03,"+
                "undo,redo,separator03,removeFormat"
    });
    $('div.wysiwyg,div.wysiwyg iframe').css('width','600px');
    
    $("#submit").click(function(e){
        if($.trim($("#body").val()).length == 0){
            e.preventDefault();
            Msg.add("Preencha todos os campos corretamente.","erro").show();
            return false;
        }
    });
});
</script>

<div class="content-right">
<? if($this->allow_files){ ?>
<div id="arquivos">
    <?=$this->render('paginas/arquivos.phtml');?>
</div>
<? } ?>

<? if($this->allow_photos_fixas){ ?>
<div id="fotos_fixas">
    <?=$this->render('paginas/fotos-fixas.phtml');?>
</div>
<? } ?>

<? if($this->allow_photos){ ?>
<div id="fotos">
    <?=$this->render('paginas/fotos.phtml');?>
</div>
<? } ?>
</div>

<form action="<?=$this->escape($this->form->getAction());?>" method="<?=$this->escape($this->form->getMethod());?>" class="frm-paginas">
    <? if($this->alias=='produtos'){ ?>
    Altere a imagem do Banner ao lado &rarr;
    <? } else { ?>
    <ul>
        <? foreach($this->form->getElements() as $elm){ ?>
        <li class="<?=$elm->getAttrib("class")?> <?=$elm->getId()=='descricao'?"bt-left":""?>">
            <? if($elm->getId() != "submit"){ ?>
            <label for="<?=$elm->getId()?>"><?=$elm->getLabel()?></label>
            <? } ?>
            
            <?=$elm->render()?>
        </li>
        <br clear="all" />
        <? } ?>
    </ul>
    <? } ?>
    
    <input type="hidden" name="action" value="<?=$this->action?>" />
</form>

<? if($this->alias == 'home'){ ?>
<div id="linhadotempo">
    <?=$this->render('paginas/linhadotempo.phtml');?>
</div>
<? } ?>