<link rel="stylesheet" href="<?=CSS_PATH?>/jquery-ui/jquery-ui.css" id="theme" />
<?=Css::load(CSS_PATH."/admin/jquery.fileupload-ui.css");?>
<?=Css::load(CSS_PATH."/admin/paginas-fotos.less");?>

<?=Js::load(JS_PATH."/jquery.ui.min.js",
            JS_PATH."/admin/jquery.fileupload.js",
            JS_PATH."/admin/jquery.fileupload-ui.js",
            JS_PATH."/admin/paginas-fotos.js");?>

<?=Css::load(CSS_PATH."/fancybox/jquery.fancybox-1.3.4.css");?>
<?=Js::load(JS_PATH."/jquery.fancybox-1.3.4.pack.js",JS_PATH."/Gallery.js");?>

<script type="text/javascript">
var DIR = "<?=$this->section?>";
var URL = "<?=URL?>";
</script>

<h3>&raquo; IMAGENS</h3>

<ul id="paginas_fotos">
    <? if(count($this->fotos)){ foreach($this->fotos as $foto){ ?>
    <li>
        <a href='<?=URL?>/img/<?=$this->section?>:<?=$foto->path?>' rel='gallery_group'>
            <img src='<?=URL?>/img/<?=$this->section?>:<?=$foto->path?>?w=90&h=90'>
        </a>
        <button title="Delete" class="ui-state-default ui-corner-all file-delete">
            <span class="ui-icon ui-icon-trash"></span>
        </button>
        <button title="Inserir esta imagem no texto" class="ui-state-default ui-corner-all file-insert">
            <span class="ui-icon ui-icon-arrowthick-1-w"></span>
        </button>
        <input type="hidden" name="foto_id[]" value="<?=$foto->foto_id?>" class="foto_id" />
    </li>
    <? }} ?>
</ul>

<div id="file_upload_container">
    <form id="file_upload" action="<?=$this->url?>upload.json?id=<?=$this->id?>" method="POST" enctype="multipart/form-data">
        <input type="file" name="file" multiple />
        <button>Enviar imagens</button>
        <div>Enviar imagens</div>
        <input type="hidden" name="pagina_id" id="pagina_id" value="<?=$this->id?>" />
    </form>
    
    <table id="file_upload_list" cellspacing="0" width="100%"></table>
</div>