<h2 class="page-title">
    <?=($this->noticia) ? $this->noticia->titulo : 'Últimas novidades'?>
</h2>

<div class="content-text pagina">
	<? if(@(bool)$this->noticia->fotos){ ?>
	<? $foto = $this->noticia->fotos[0]; ?>
	<figure class="img">
		<img src="<?=URL.'/img/noticias|'.$foto->path?>?w=260&h=335" alt="<?=$foto->descricao?>" />
		
		<? if((bool)$foto->descricao){ ?>
		<figcaption><?=$foto->descricao?></figcaption>
		<? } ?>
	</figure>
	<? } ?>

    <?
	$body = nl2br($this->noticia->body);
    
    $replaces = array(
    	'\<a(.*)\<\/a\>' => '<a target="_blank" rel="nofollow" \\1</a>',
    	'style\=\"(.*)\"' => ' '
	);
    foreach($replaces as $p => $r) $body = ereg_replace($p,$r,$body);
    
    echo $body;
    ?>

    <? if((bool)trim($this->noticia->link)){ ?>
    <? $url = $this->noticia->link; ?>
    <? $target = strstr($url,URL) ? '' : 'target="_blank"'; ?>
    <br clear="all" />
    <a href="<?=$url?>" id="entre-em-contato" class="confira" <?=$target?>>
    	<span class="sombra"></span>
    	<span class="texto">Confira</span>
    </a>
    <? } ?>
</div> <? /* #noticias */ ?>