<div id="form-new">
    <form action="<?=$this->form->getAction();?>" method="<?=$this->form->getMethod();?>" id="<?=$this->form->getId();?>" class="<?=$this->form->getId();?>">
        <ul>
            <? foreach($this->form->getElements() as $elm){ ?>
            <li class="<?=$elm->getAttrib("class").' '.$elm->getId()?>">
                <? if($elm->getId() != "submit"){ ?>
                <label for="<?=$elm->getId()?>"><?=$elm->getLabel()?></label>
                <? } ?>
                <?=$elm->render();?>
                
                <? if($elm->getId() == "valor"){ ?>
                <!--<br clear="all" />-->
                <? } ?>
            </li>
            <? if($elm->getId() == "senha-c"){ ?>
            </ul></fieldset>
            <? } ?>
            <? } ?>
        </ul>
        <!--<div class="bt-container">-->
            <input type="submit" class="bt" value="<?=$this->id?'Salvar':'Criar'?>" id="submit" />
        <!--</div>-->
    </form>
</div>

<? if($this->id){ ?>
<div class="content-right">
    <div id="fotos" class="fotos-produtos fotos-portfolio">
        <?=$this->render($this->section.'/fotos.phtml');?>
    </div>
    <? /*
    <div id="sugestoes">
        <?=$this->render($this->section.'/sugestoes.phtml');?>
    </div>
    */ ?>
    <div id="tags">
        <?=$this->render($this->section.'/tags.phtml');?>
    </div>
</div>
<? } ?>