<?=Css::load(CSS_PATH.'/admin/tags.less')?>
<?=Js::script('var TAGS = '.json_encode((array)$this->tags).';')?>
<?=Js::load(JS_PATH.'/admin/tags.js')?>

<h3>&raquo; Tags</h3>

<form action="" class="frm-tags">
    <input type="text" class="txt" id="tags-search" />
    <input type="hidden" id="tags-id" />
    <input type="submit" class="bt" id="tags-submit" value="Ok" />
</form>

<ul class="tags-list">
    <? if($this->tags_list){ foreach($this->tags_list as $tag){ ?>
    <li><?=$tag->tag?>
        <button class="ui-state-default ui-corner-all tags-delete" title="Delete">
            <span class="ui-icon ui-icon-trash"></span>
        </button>
        <input type="hidden" class="tags-id" value="<?=$tag->id?>" />
    </li>
    <? }} ?>
</ul>

<script type="text/x-jquery-tmpl" id="tmplTags">
    <li>${value}
        <button class="ui-state-default ui-corner-all tags-delete" title="Delete">
            <span class="ui-icon ui-icon-trash"></span>
        </button>
        <input type="hidden" class="tags-id" value="${id}" />
    </li>
</script>