<div id="imovel-detalhes">
    <h3 class="page-title titulo">
        Apartamento comum
    </h3>

    <span class="bairro">
        Bairro: <span class="c">Santana</span>
    </span>
    <span class="cidade">
        Cidade: <span class="c">São Paulo, SP</span>
    </span>

    <span class="cod">
        <b>44-32154</b>
        Código do Imóvel:
    </span>

    <span class="valor">
        <b>R$150.000,00</b>
        Investimento:
    </span>

    <ul id="imovel-links">
        <li>
            <a href="#" class="mail">Enviar para email</a>
        </li>
        <li>
            <a href="#" class="tel">Ver telefone</a>
        </li>
        <li>
            <a href="#" class="print">Imprimir</a>
        </li>
    </ul>

    <? /* TODO: Adicionar fb share */ ?>
</div>

<div id="imovel-descricao">
    <div id="imovel-fotos">
        <div class="imovel-foto">
            <? $row = $this->rows[0]; ?>
            <? $foto = 'not-found.jpg';
            if((bool)$row->capa) $foto = 'portfolio|'.$row->capa->path;
            if(!(bool)$row->capa && (bool)$row->fotos) $foto = 'portfolio|'.$row->fotos[0]->path; ?>
            <img src="<?=URL.'/img/'.$foto?>?w=570&h=390" alt="" />
        </div>
        
        <ul id="imovel-slideshow">
            <? $i = 0; foreach($this->rows as $row){ $i++; ?>
            <li class="imovel <?=($i%3==0) ? '' : ''?>">
                <? $foto = 'not-found.jpg';
                if((bool)$row->capa) $foto = 'portfolio|'.$row->capa->path;
                if(!(bool)$row->capa && (bool)$row->fotos) $foto = 'portfolio|'.$row->fotos[0]->path; ?>
                <a href="<?=URL.'/img/'.$foto?>?w=570&h=390" title="<?=$row->titulo?>">
                    <img src="<?=URL.'/img/'.$foto?>?w=123&h=113" alt="<?=$row->titulo?>" />
                </a>
            </li>
            <? } ?>
        </ul>
    </div>

    <h3 class="page-title">Descrição</h3>

    <p class="descricao">
        Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
    </p>

    <table class="tbl-detalhes">
        <? $x = 3; $y = 10;
        $detalhes = 'Área útil, Tipo de imóvel, Suítes, Churrasqueira, Estacionamento, '.
                    'Uso do imóvel, Dep. Empregada, Banheiro, Lavabo, Cozinha, Piscina, '.
                    'Dormitórios, Lavabo, Lavanderia, Quadras, Playground, Sala de jantar, '.
                    'Sala, Salão de jogos, Salão de festas, Status, Sauna';
        $detalhes = explode(',',$detalhes); ?>

        <tr>
            <? for($i=0;$i<sizeof($detalhes);$i++){ ?>
            <td><?=isset($detalhes[$i]) ? $detalhes[$i].':' : '&nbsp;'?></td>
            <?=(($i+1)%$x==0) ? '</tr><tr>' : ''?>
            <? } ?>
        </tr>
    </table>
</div>

<div id="imovel-sugestoes">
    <h3 class="page-title">Imóveis semelhantes:</h3>

    <ul id="imoveis">
        <? $i = 0; foreach($this->rows as $row){ $i++; ?>
        <li class="imovel <?=($i%3==0) ? '' : ''?>">
            <? $foto = 'not-found.jpg';
            if((bool)$row->capa) $foto = 'portfolio|'.$row->capa->path;
            if(!(bool)$row->capa && (bool)$row->fotos) $foto = 'portfolio|'.$row->fotos[0]->path; ?>
            <a href="<?=URL.'/imoveis/'.$row->id?>" title="<?=$row->titulo?>">
                <img src="<?=URL.'/img/'.$foto?>?w=220&h=232" alt="<?=$row->titulo?>" />
            </a>

            <a class="detalhes" href="<?=URL.'/imoveis/'.$row->id?>">
                <span class="tit">
                    SANTANA
                </span>
                
                <span class="end">
                    Ag. Jardim Japão, 257
                </span>
                
                <span class="det">
                    Apto | 250m, 3 dorms (3 suítes)
                </span>
            </a>
        </li>
        <? } ?>
    </ul>
</div>