<div id="filtro-imoveis">
	<a href="#" class="title box-icon box-filtros">
        <span class="icon"></span>
        <span class="txt">Filtros</span>
    </a>

    <form action="#" id="frm-filtro-imoveis">
    	<ul>
    		<li class="title">Tipo de imóvel</li>

    		<? $checks = array(
    			'filtro_res_casa' => 'Residência - Casa',
    			'filtro_res_apto' => 'Residência - Apartamento',
    			'filtro_res_flat' => 'Residência - Flat',
    			'filtro_com_escr' => 'Comercial - Escritório',
    		); ?>
    		<? foreach($checks as $k => $v){ ?>
    		<li>
    			<input type="checkbox" class="chk" value="1" name="<?=$k?>" id="<?=$k?>" />
    			<label for="<?=$k?>"><?=$v?></label>
    		</li>
    		<? } ?>

    		<li class="more">
    			<a href="#" class="mais-op">&darr; mais opções</a>
    		</li>
    	</ul>

    	<ul>
    		<li class="title">Estrutura</li>

    		<? $checks = array(
    			'filtro_est_var' => 'Varanda',
    			'filtro_est_mob' => 'Mobiliado',
    			'filtro_est_qua' => 'Quartos',
    			'filtro_est_sui' => 'Suítes',
    			'filtro_est_vag' => 'Vagas',
    		); ?>
    		<? foreach($checks as $k => $v){ ?>
    		<li>
    			<input type="checkbox" class="chk" value="1" name="<?=$k?>" id="<?=$k?>" />
    			<label for="<?=$k?>"><?=$v?></label>
    		</li>
    		<? } ?>

    		<li class="more">
    			<a href="#" class="mais-op">&darr; mais opções</a>
    		</li>
    	</ul>

    	<a href="<?=URL?>/busca" class="bt-filtrar bt-shadow">Filtrar</a>
    </form>
</div>