<script type="text/javascript">
function filter(selector,field,query) {
	query =	$.trim(query);
	//query = query.replace(/ /gi, '|'); //add OR for regex
  
	$(selector).each(function() {
		(($(this).find(field).val() ? $(this).find(field).val().search(new RegExp(query, "i")) : $(this).find(field).text().search(new RegExp(query, "i"))) < 0) ?
			$(this).hide().removeClass('visible') :
			$(this).show().addClass('visible');
	});
}

$(document).ready(function(){
    var pesquisa = {
        selector:".form-list ul li:not(.title)",
        field:".row-descricao"
    };
    $('.fast-search-txt').prevalue('Busca rápida...').keyup(function(event) {
        if (event.keyCode == 27) { //if press Esc
			$(this).val("").blur();
        }
        if(event.keyCode == 27 || $.trim(this.value) == ''){ //if press Esc or no text
            $(pesquisa.selector).removeClass('visible').show().addClass('visible');
        } else { //if there is text, lets filter
            filter(pesquisa.selector,pesquisa.field,$(this).val());
        }
	});
});
</script>

<form action="#" class="fast-search-form" method="get" onsubmit="return false;">
    <input type="text" class="txt fast-search-txt" />
</form>