<?=$this->locais ? $this->render($this->section.'/fast-search.phtml') : ''?>

<div id="<?=$this->section?>" class="form-list">
    <form action="<?=$this->url?>save" class="frm-<?=$this->section?>" method="post">
        <ul class="row-list">
            <li class="title">
                <span class="row-title">Local</span>
                <span class="row-title row-title-2">Ativo</span>
            </li>
            <? if($this->locais){ foreach($this->locais as $row){ ?>
            <li>
                <a href="#" class="row-action row-action-del">Excluir</a>
                <input type="text" class="txt row-descricao" name="descricao[]" value="<?=utf8_encode($row->descricao)?>" />
                <input type="checkbox" class="txt row-status_id" name="status_id_check[]" <? if($row->status_id==1){ ?>checked="checked"<? } ?> />
                <input type="hidden" name="status_id[]" value="<?=$row->status_id?>" />
                <input type="hidden" class="row-id" name="id[]" value="<?=$row->id?>" />
            </li>
            <? }} ?>
        </ul>
        
        <!-- jQuery template -->
        <script type="text/x-jquery-tmpl" id="tmplRow">
            <li>
                <a href="#" class="row-action row-action-del">Excluir</a>
                <input type="text" class="txt row-descricao" name="descricao[]" value="" />
                <input type="checkbox" class="txt row-status_id" name="status_id_check[]" checked="checked" />
                <input type="hidden" name="status_id[]" value="1" />
                <input type="hidden" class="row-id" name="id[]" value="0" />
            </li>
        </script>
        <!-- /jQuery template -->
        
        <div class="row-tools">
            <a href="#" class="row-add">+ Adicionar local</a>
            <div class="row-status"><ul></ul></div>
        </div>
        
        <div class="bt-container">
            <input type="submit" class="bt" value="Salvar" id="submit" />
        </div>
    </form>
</div>