<div class="search-bar">
    <form action="<?=$this->url?>new/" method="get" class="order-form">
        <input type="submit" class="bt" value="+ Adicionar" />
    </form>
    
    <form action="" method="post" class="search-form">
        <label for="search-by" class="search-label">Buscar por:</label> 
        <select name="search-by" id="search-by" class="txt">
            <option value="descricao">Descrição</option>
        </select>
        <input type="text" class="txt" name="search-txt" id="search-txt" value="<?=@$_POST['search-txt']?>" />
        <input type="hidden" name="action" value="search" />
        <input type="submit" class="bt" value="Enviar" />
    </form>
</div>