<?=$this->render($this->section."/telefones-new.phtml");?>

<?=Js::load(JS_PATH."/admin/search.js");?>

<h3 class="pre-search">&nbsp;</h3>

<?=$this->render($this->section."/telefones-search.phtml");?>

<div class="pousada search-result">
    <? if($this->lines){ ?>
    <table>
        <thead>
            <tr>
                <td>Telefone</td>
                <!--<td width="100">Data cadastro</td>-->
                <td width="50">Ativo</td>
                <td width="50">Excluir</td>
            </tr>
        </thead>
        <tbody>
            <? foreach($this->lines as $line){ ?>
            <? $data_cad = explode(" ",$line->data_cad); $data_cad = Is_Date::am2br($data_cad[0]); ?>
            <? $status = $line->status_id == 0 ? "Inativo" : "Ativo"; ?>
            <tr>
                <td>
                    <a href="<?=URL?>/admin/<?=$this->section?>/telefones/id/<?=$line->id?>/"><?=Is_Format::tel($line->numero)?></a>
                </td>
                <!--<td>
                    <a href="<?=URL?>/admin/<?=$this->section?>/telefones/id/<?=$line->id?>/"><?=$data_cad?></a>
                </td>-->
                <td>
                    <a href="<?=URL?>/admin/<?=$this->section?>/telefones/id/<?=$line->id?>/"><?=$status?></a>
                </td>
                <td>
                    <a href="<?=URL?>/admin/<?=$this->section?>/telefones-del/id/<?=$line->id?>/" class="del" title="Excluir">X</a>
                </td>
            </tr>
            <? } ?>
        </tbody>
    </table>
    <? } else { ?>
    Nenhum registro.
    <? } ?>
</div>