<?=$this->render($this->section."/usuarios-new.phtml");?>

<?=Js::load(JS_PATH."/admin/search.js");?>

<h3 class="pre-search">&nbsp;</h3>

<?=$this->render($this->section."/usuarios-search.phtml");?>

<div class="pousada search-result">
    <? if($this->lines){ ?>
    <table>
        <thead>
            <tr>
                <td>Nome</td>
                <td>Login</td>
                <td>E-mail</td>
                <td width="50" align="center">Status</td>
                <td width="50" align="center">Excluir</td>
            </tr>
        </thead>
        <tbody>
            <? foreach($this->lines as $line){ ?>
            <? $status = $line->status_id == 0 ? "Inativo" : "Ativo"; ?>
            <tr>
                <td>
                    <a href="<?=URL?>/admin/<?=$this->section?>/usuarios/id/<?=$line->id?>/"><?=$line->nome?></a>
                </td>
                <td>
                    <a href="<?=URL?>/admin/<?=$this->section?>/usuarios/id/<?=$line->id?>/"><?=$line->login?></a>
                </td>
                <td>
                    <a href="<?=URL?>/admin/<?=$this->section?>/usuarios/id/<?=$line->id?>/"><?=$line->email?></a>
                </td>
                <td align="center">
                    <a href="<?=URL?>/admin/<?=$this->section?>/usuarios/id/<?=$line->id?>/"><?=$status?></a>
                </td>
                <td align="center">
                    <a href="<?=URL?>/admin/<?=$this->section?>/usuarios-del/id/<?=$line->id?>/" class="del" title="Excluir">X</a>
                </td>
            </tr>
            <? } ?>
        </tbody>
    </table>
    <? } else { ?>
    Nenhum registro.
    <? } ?>
</div>