<?=Css::loadLess(CSS_PATH."/admin/suites.less",CSS_PATH."/admin/tarifas.less",CSS_PATH."/admin/usuarios.less");?>
<?=Js::load(JS_PATH.'/jquery.mask.js');?>
<script>
$(document).ready(function(){
    $("#submit").click(function(e){
        if($.trim($("#nome").val()).length == 0 || $.trim($("#login").val()).length == 0 || $.trim($("#email").val()).length == 0){
            e.preventDefault();
            Msg.add("Preencha todos os campos corretamente.","erro").show();
            return false;
        }
    });
});
</script>

<div id="form-new">
    <form action="<?=$this->escape($this->form->getAction());?>" method="<?=$this->escape($this->form->getMethod());?>">
        <ul>
            <? foreach($this->form->getElements() as $elm){ ?>
            <li class="<?=$elm->getAttrib("class")?> <?=$elm->getId()=='descricao'?"bt-left":""?>">
                <? if($elm->getId() != "submit"){ ?>
                <label for="<?=$elm->getId()?>"><?=$elm->getLabel()?></label>
                <? } ?>
                
                <?=$elm->render()?>
            </li>
            <? if($elm->getId() == "senha"){ ?><!--<br clear="all" />--><? } ?>
            <? } ?>
        </ul>
        
        <input type="hidden" name="action" value="<?=$this->action?>" />
    </form>
</div>