<h1 class="u c page-title <?=$this->controller?>">
	<span><?=Is_Str::subsCaracteres($this->controller," ")?></span>
</h1>
<br>

<div class="page-text">
    <?=$this->render('meu-cadastro/meus-dados.phtml')?>
</div>