<? if((bool)$this->pagina->fotos_fixas){ ?>
<? $img = IMG_URL.'/paginas/'.$this->pagina->fotos_fixas->foto1; ?>
<picture class="pagina-banner">
	<img src="<?=$img?>" alt="<?=$this->pagina->titulo?>">
</picture>
<? } ?>

<div class="pagina">
	<div class="pagina-1">
		<?=$this->pagina->body?>
	</div>
	<div class="pagina-2">
		<?=$this->pagina->body2?>
	</div>
</div>